﻿@{
    ViewData["Title"] = "Rate Plan";
    List<EasyGasAdminWebsite.Models.ItemPricing> list = ViewBag.list;
}

<div class="content-wrapper">
    @*<section class="content-header">
            <h1>@ViewData["Title"]</h1>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Home", "Index")"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">@ViewData["Title"]</li>
            </ol>
        </section>*@
    <section class="content">
        <div class="row">
            <div class="col-xs-8">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Rate Plan <a href="@Url.Action("Create")" style="margin-left: 10px;" class="btn btn-primary btn-sm"><i class="fa fa-plus" style="margin-right:5px;"></i> Create New</a></h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="pricingList" class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>S No</th>
                                            <th>Item</th>
                                            <th>From Date</th>
                                            <th>Price</th>
                                            <th>International Price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in list)
                                        {

                                        <tr data-pricing_id="@item.Id">
                                            <td></td>
                                            <td>@item.Item.Name</td>
                                            <td>@item.FromDate.ToString("dd/MM/yyyy")</td>
                                            <td>@item.Price</td>
                                            <td>@item.InternationalPrice</td>
                                            <td><a class="btn btn-primary" href="@Url.Action("Edit", "RatePlan", new {id = item.Id })">Edit</a></td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    var orderDataTable = $("#pricingList").DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        'autoWidth': true,
        //'columnDefs': [{ orderable: false, targets: [-1, -2] }],
        'language': {
            'emptyTable': 'No rate plans found.'
        },
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $("td:first", nRow).html(iDisplayIndex + 1);
            return nRow;
        },
    })


</script>