﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>
    .content-wrapper {
        margin-left: 0;
    }
    .validation-summary-errors ul {
        padding-left: 15px;
    }
</style>
<div class="content-wrapper">

    <div class="row">
        <div class="col-md-12">
            <section id="loginForm">
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div class="login-box">
                        <div class="login-logo">
                            <b>EASY</b>GAS
                        </div>
                        <div class="login-box-body">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group ">
                                <label asp-for="Username" class="bsh-login-label col-xs-12 u-p-0 control-label" style="text-align: left"></label>
                                <div class="col-md-12">
                                    <input asp-for="Username" class="form-control" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="bsh-login-label  u-p-0 col-xs-12 control-label" style="text-align: left"></label>
                                <div class="col-md-12 u-p-0">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 u-p-0">
                                    <div class="checkbox">
                                        <label asp-for="RememberMe">
                                            <input asp-for="RememberMe" />
                                            @Html.DisplayNameFor(m => m.RememberMe)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 u-p-0">
                                    <button type="submit" class="bsh-login-submit btn btn-success">Log In</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
