﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Create New User";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>Create New User</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Home", "Index")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Create New User</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row" style="max-width: 700px;">
                            <div class="col-md-12">
                                <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                    @if (!Html.ViewData.ModelState.IsValid)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-4">
                                                <div asp-validation-summary="All" class="text-danger alert"></div>
                                            </div>
                                        </div>
                                    }

                                    <div class="form-group">
                                        <label asp-for="Name" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Username" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <input asp-for="Username" class="form-control" />
                                            <span asp-validation-for="Username" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <input asp-for="Password" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <input asp-for="ConfirmPassword" class="form-control" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PhoneNumber" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <input asp-for="PhoneNumber" class="form-control" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-4 col-md-8">
                                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
</div>