﻿@model EasyGasAdminWebsite.Models.QueryUserWithDetailsModel
@addTagHelper *, EasyGasAdminWebsite
@{
    ViewData["Title"] = Model.UserAndProfile.FirstName + " " + Model.UserAndProfile.LastName;
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>@ViewData["Title"]</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="@Url.Action("Index", "Drivers")"><i class="fa fa-dashboard"></i>Drivers</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Mobile</label>
                                            <div>@Model.UserAndProfile.Mobile</div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Email</label>
                                            <div>@Model.UserAndProfile.Email</div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Gender</label>
                                            <div>@Model.UserAndProfile.Gender</div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Birth Date</label>
                                            <div>
                                            @if (Model.UserAndProfile.BirthDate != null)
                                            {
                                                @Model.UserAndProfile.BirthDate.Value.ToString("dd/MM/yyyy")
                                            }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script>
    $(document).ready(function () {
        $("#BirthDate").datetimepicker({ format: "DD/MM/YYYY" });
    })
</script>