﻿@model EasyGasAdminWebsite.Models.UserAndOrderModel
@addTagHelper *, EasyGasAdminWebsite
@{
    ViewData["Title"] = "Create Order";
    EasyGasAdminWebsite.Models.ApiValidationErrors responseMsg = ViewBag.responseMsg;
    SelectList deliverySlotSelList = ViewBag.deliverySlotSelList;
    SelectList vehSelList = ViewBag.vehSelList;
    SelectList cylSelList = ViewBag.cylSelList;
    List<AddressModel> addressList = ViewBag.userAddressList;
    List<ItemModel> cylinderList = ViewBag.cylinderList;
    List<ItemModel> acessoriesList = ViewBag.acessoriesList;
    List<ItemModel> servicesList = ViewBag.servicesList;
    List<DeliverySlot> deliverySlotList = ViewBag.deliverySlotList;
    bool isEdit = false;
    if(ViewBag.source == "Edit")
    {
        isEdit = true;
    }
}
<style>
    .ui-autocomplete .ui-menu-item {
        padding: 10px;
        border-bottom: 1px solid #efefef;
    }
        .ui-autocomplete .ui-menu-item .customer-name {
            font-size: 14px;
            font-weight: bold;
            display: block;
            color: #3897da;
        }
        .ui-autocomplete .ui-menu-item .customer-phone {
            font-size: 14px;
            display: block;
            color: #3897da;
        }
        .ui-autocomplete .ui-menu-item .customer-phone i {
            margin-right: 7px;
        }
        .ui-autocomplete .ui-menu-item .customer-location {
            font-size: 14px;
            display: block;
        }
    .ui-autocomplete-loading {
        background: url('/images/loader.gif') no-repeat right center;
    }
        #address-list {}
            #address-list .addr-container {
                padding: 15px;
                border: 1px dashed #d6d6d6;
                height: 120px;
                background: #f9f9f9bf;
                margin-bottom: 20px;
                cursor: pointer;
                color: #3897da;
                overflow: auto;
            }
            #address-list .addr-create {
                color: #3897da;
                text-align: center;
                font-size: 22px;
                line-height: 80px;
                font-weight: 700;
            }
                #address-list .addr-create i {
                    opacity: .5;
                }
                #address-list .addr-create.active i{
                    opacity:1;
                }
                #address-list .addr-container:hover {
                    background: #efefef;
                }
            #address-list .addr-container.active {
                background: #eeeeee;
                border: 1px solid #cdcdcd;
            }
            #address-list .addr-container .active-icon {
                opacity: .2;
                position: absolute;
                right: 25px;
                bottom: 30px;
                width: 30px;
                height: 30px;
                font-size: 25px;
                color: #28a1da;
            }
                #address-list .addr-container:hover .active-icon{
                    opacity: .4;
                }
                #address-list .addr-container.active .active-icon {
                    opacity: 1;
                }
            #address-list .addr-line {
                display: block;
                font-weight: 700;
            }
    .list-heading {
        background: #6d6d6d;
        color: #fff;
        padding: 10px;
        font-size: 16px;
        margin-top: 7px;
    }
    #customer-heading {margin-top: 0;}
        #reset-form {cursor: pointer; padding: 0 10px;}
    #locations-updatetime { font-weight: bold;}
    #update-locations i { margin-right: 5px;}

    #itemList .item-tot-amount { text-align: right; font-weight: bold; font-size: 14px;}
    #itemList .item-qty { width: 70px;} 
    #itemList .item-price { width: 100px;} 
    #itemList .form-group { margin-bottom: 0;}
    #itemList tbody tr.inactive {display: none;}

    .marker[data-category="inactive"] img { opacity: .5; }
    .marker[data-category="inactive"] .pulse, .marker[data-category="break"] .pulse  { opacity: 0; }
    .marker img { margin-left: -10px; margin-top: -5px; width: 30px;}
    .pulse {
        position: absolute;
        transform: rotateX(55deg);
    }

        .pulse::after {
            display: block;
            width: 20px;
            height: 20px;
            content: '';
            animation: pulsate 1s ease-out;
            animation-delay: 1.1s;
            animation-iteration-count: infinite;
            opacity: 0;
            border-radius: 50%;
            box-shadow: 0 0 10px 6px rgb(22, 149, 114);
        }

    @@keyframes pulsate {
        0% {
            transform: scale(.1, .1);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: scale(2.2, 2.2);
            opacity: 0;
        }
    }
</style>
<div class="content-wrapper">
    <section class="content-header">
        <h1>@ViewData["Title"]</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Home", "Index")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div id="create-order-box" class="box box-danger">
                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <!--test-->
                            <div id="create-order" class="row">
                                <div class="col-md-12">
                                    @Html.ValidationSummary()
                                    @if (responseMsg.Err.Length > 0)
                                    {
                                        <div class="validation-summary-errors alert alert-danger-light">
                                            <p>Please correct the following errors</p>
                                            <ul class="validation-summary-errors">
                                                @foreach (string err in responseMsg.Err)
                                                {
                                                    <li>@err</li>
                                                }
                                            </ul>
                                        </div>
                                    }


                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => model.UserAndProfile.UserId, new { @id = "customerId" })
                                    @Html.HiddenFor(model => model.Address.UserAddressId)
                                    @Html.HiddenFor(model => model.OrderId)

                                    @*
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    @Html.EditorFor(model => model.UserSearch, new { htmlAttributes = new { @class = "form-control", @placeholder = "Search Customer Name/Phone" } })
                    @Html.ValidationMessageFor(model => model.UserSearch, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <a id="reset-form" class="btn btn-default">New Customer</a>
            </div>
        </div>
                                    *@

                                    @if (!isEdit)
                                    {
                                        <h3 id="customer-heading" class="list-heading">
                                            <span id="customer-info">New Customer</span>
                                            @{
                                                string display = "inline-block";
                                                if (Model.UserAndProfile.UserId == 0 || ViewBag.source == "Edit")
                                                {
                                                    display = "none";
                                                }
                                            }
                                            <a id="reset-form" class="btn btn-default btn-sm pull-right" style="display: @display">Create New Customer</a>
                                        </h3>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="UserAndProfile.FirstName" class="control-label"></label>
                                                    @Html.EditorFor(model => model.UserAndProfile.FirstName, new { htmlAttributes = new { @class = "form-control UserSearch" } })
                                                    @Html.ValidationMessageFor(model => model.UserAndProfile.FirstName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="UserAndProfile.LastName" class="control-label"></label>
                                                    @Html.EditorFor(model => model.UserAndProfile.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.UserAndProfile.LastName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Gender</label>
                                                    <select asp-for="UserAndProfile.Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                                                    @Html.ValidationMessageFor(model => model.UserAndProfile.Gender, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="UserAndProfile.Mobile" class="control-label"></label>
                                                    @Html.EditorFor(model => model.UserAndProfile.Mobile, new { htmlAttributes = new { @class = "form-control UserSearch" } })
                                                    @Html.ValidationMessageFor(model => model.UserAndProfile.Mobile, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="UserAndProfile.Email" class="control-label"></label>
                                                    @Html.EditorFor(model => model.UserAndProfile.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.UserAndProfile.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="UserAndProfile.BirthDate" class="control-label"></label>
                                                    @Html.TextBoxFor(model => model.UserAndProfile.BirthDate, new { @class = "form-control", @placeholder = "dd/mm/yyyy" })
                                                    @Html.ValidationMessageFor(model => model.UserAndProfile.BirthDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.UserAndProfile.UserId)
                                        @Html.HiddenFor(model => model.UserAndProfile.FirstName)
                                        @Html.HiddenFor(model => model.UserAndProfile.Mobile)
                                        @Html.HiddenFor(model => model.UserAndProfile.LastName)

                                        <h3 id="customer-heading" class="list-heading">
                                            <span id="customer-info">
                                                @Model.UserAndProfile.FirstName
                                                <br />
                                                @Model.UserAndProfile.Mobile
                                            </span>
                                        </h3>
                                    }

                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="list-heading">Delivery Address</h3>
                                        </div>
                                    </div>

                                    <div id="address-list" class="row">
                                        <!--<div class="col-md-12"><ul id="address-list" style="display: none;"></ul></div>-->
                                    </div>

                                    <div id="new-addr-form" class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.Location" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.Location, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.Location, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.Lat" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.Lat, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.Lat, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.Lng" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.Lng, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.Lng, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.BuildingNo" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.BuildingNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.BuildingNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.StreetNo" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.StreetNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.StreetNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.Landmark" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.Landmark, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.Landmark, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.District" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.District, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.District, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.State" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.State, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.State, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.PinCode" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.PinCode, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.PinCode, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.PhoneAlternate" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.PhoneAlternate, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.PhoneAlternate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h3 class="list-heading">Add Delivery Details</h3>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="DeliveryDate" class="control-label"></label>
                                                @Html.TextBoxFor(model => model.DeliveryDate, new { @class = "form-control", @placeholder = "dd/mm/yyyy" })
                                                @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="DeliverySlotId" class="control-label"></label>
                                                <select asp-for="DeliverySlotId" asp-items="@deliverySlotSelList" class="form-control delivery-slot">
                                                    <option value="">Select</option>
                                                </select>
                                                @Html.ValidationMessageFor(model => model.DeliverySlotId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @*<div class="col-md-3">
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>*@


                                        @*
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <select asp-for="ItemId" asp-items="@cylSelList" class="form-control">
                    <option value="">Select</option>
                </select>
                @Html.ValidationMessageFor(model => Model.ItemId, "", new { @class = "text-danger" })
            </div>
        </div>
                                        *@
                                        @*<div class="col-md-3">
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" asp-items="@vehSelList" class="form-control">
                    <option value="">Select</option>
                </select>
                @Html.ValidationMessageFor(model => model.VehicleId, "", new { @class = "text-danger" })
            </div>
        </div>*@
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Type" class="control-label"></label>
                                                <select asp-for="Type" asp-items="Html.GetEnumSelectList<OrderType>()" class="form-control order-type"></select>
                                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <h3 class="list-heading">Items</h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table id="itemList" class="table table-hover table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th width="50px">S.No</th>
                                                        <th>Item</th>
                                                        <th width="120px">Unit Price</th>
                                                        <th width="90px">Quantity</th>
                                                        <th width="120px" style="text-align: right">Total Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.CylinderList != null)
                                                    {
                                                        int serial = 1;
                                                        @for (var i = 0; i < Model.CylinderList.Count(); i++)
                                                        {
                                                    <tr class="active" data-item_id="@Model.CylinderList[i].ItemId">
                                                        @Html.HiddenFor(model => model.CylinderList[i].ItemId)
                                                        @Html.HiddenFor(model => model.CylinderList[i].OrderItemId)
                                                        @Html.HiddenFor(model => model.CylinderList[i].Name)
                                                        @Html.HiddenFor(model => model.CylinderList[i].PriceDate.FromDate)
                                                        @Html.HiddenFor(model => model.CylinderList[i].OrderType)
                                                        @Html.HiddenFor(model => model.CylinderList[i].SlotType)
                                                        <td>@serial</td>
                                                        <td>@Model.CylinderList[i].Name</td>
                                                        <td>
                                                            <div class="form-group">
                                                                @Html.TextBoxFor(model => model.CylinderList[i].PriceDate.Price, new { @class = "form-control item-price" })
                                                                @Html.ValidationMessageFor(model => model.CylinderList[i].PriceDate.Price, "", new { @class = "text-danger" })
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                @Html.EditorFor(model => model.CylinderList[i].Quantity, new { htmlAttributes = new { @class = "form-control item-qty" } })
                                                                @Html.ValidationMessageFor(model => model.CylinderList[i].Quantity, "", new { @class = "text-danger" })
                                                            </div>
                                                        </td>
                                                        <td style="text-align: right">
                                                            <span class="item-tot-amount">@Model.CylinderList[i].PriceDate.Price</span>
                                                        </td>
                                                    </tr>
                                                            serial += 1;
                                                        }

                                                    }


                                                    @if (Model.AccessoriesList != null && Model.AccessoriesList.Count() > 0)
                                                    {
                                                        <tr>
                                                            <th colspan="5">Accessories</th>
                                                        </tr>
                                                        int serial = 1;
                                                        @for (var i = 0; i < Model.AccessoriesList.Count(); i++)
                                                        {
                                                <tr class="active" data-item_id="@Model.AccessoriesList[i].ItemId">
                                                    @Html.HiddenFor(model => model.AccessoriesList[i].ItemId)
                                                    @Html.HiddenFor(model => model.AccessoriesList[i].OrderItemId)
                                                    @Html.HiddenFor(model => model.AccessoriesList[i].Name)
                                                    @Html.HiddenFor(model => model.AccessoriesList[i].PriceDate.FromDate)
                                                    @Html.HiddenFor(model => model.AccessoriesList[i].OrderType)
                                                    @Html.HiddenFor(model => model.AccessoriesList[i].SlotType)
                                                    <td>@serial</td>
                                                    <td>@Model.AccessoriesList[i].Name</td>
                                                    <td>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(model => model.AccessoriesList[i].PriceDate.Price, new { @class = "form-control item-price" })
                                                            @Html.ValidationMessageFor(model => model.AccessoriesList[i].PriceDate.Price, "", new { @class = "text-danger" })
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            @Html.EditorFor(model => model.AccessoriesList[i].Quantity, new { htmlAttributes = new { @class = "form-control item-qty" } })
                                                            @Html.ValidationMessageFor(model => model.AccessoriesList[i].Quantity, "", new { @class = "text-danger" })
                                                        </div>
                                                    </td>
                                                    <td style="text-align: right">
                                                        <span class="item-tot-amount">0</span>
                                                    </td>
                                                </tr>
                                                            serial += 1;
                                                        }
                                                    }

                                                        @for (var i = 0; i < Model.ServicesList.Count(); i++)
                                                        {
                                                            int serial = 1;
                                                            int orderType = 0;
                                                            int slotType = 0;
                                                            if (Model.ServicesList[i].OrderType != null)
                                                            {
                                                                orderType = (int)Model.ServicesList[i].OrderType;
                                                            }
                                                            if (Model.ServicesList[i].SlotType != null)
                                                            {
                                                                slotType = (int)Model.ServicesList[i].SlotType;
                                                            }
            
                                                <tr class="service inactive" data-item_id="@Model.ServicesList[i].ItemId" data-order_type="@orderType" data-slot_type="@slotType">
                                                    @Html.HiddenFor(model => model.ServicesList[i].ItemId)
                                                    @Html.HiddenFor(model => model.ServicesList[i].OrderItemId)
                                                    @Html.HiddenFor(model => model.ServicesList[i].Name)
                                                    @Html.HiddenFor(model => model.ServicesList[i].PriceDate.FromDate)
                                                    @Html.HiddenFor(model => model.ServicesList[i].OrderType)
                                                    @Html.HiddenFor(model => model.ServicesList[i].SlotType)
                                                    <td>@serial</td>
                                                    <td>@Model.ServicesList[i].Name</td>
                                                    <td>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(model => model.ServicesList[i].PriceDate.Price, new { @class = "form-control item-price" })
                                                            @Html.ValidationMessageFor(model => model.ServicesList[i].PriceDate.Price, "", new { @class = "text-danger" })
                                                        </div>
                                                    </td>
                                                    <td class="service-quantity">
                                                        <div class="form-group">
                                                            @Html.EditorFor(model => model.ServicesList[i].Quantity, new { htmlAttributes = new { @class = "form-control item-qty" } })
                                                            @Html.ValidationMessageFor(model => model.ServicesList[i].Quantity, "", new { @class = "text-danger" })
                                                        </div>
                                                    </td>
                                                    <td style="text-align: right">
                                                        <span class="item-tot-amount">@Model.ServicesList[i].PriceDate.Price</span>
                                                    </td>
                                                </tr>
                                                            serial += 1;
                                                        }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th colspan="4" style="font-size: 18px;">Total</th>
                                                        <th id="totAmt" style="text-align: right; font-size: 18px;"></th>
                                                    </tr>
                                                </tfoot>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-12">
                                        <button class="btn btn-primary btn-lg" name="submitButton" value="saveAndCreate" style="margin-right: 10px;">Save and Create</button>
                                        <button class="btn btn-default btn-lg" name="submitButton" value="saveAndExit">Save and Exit</button>
                                </div>
                            </div>
                        </div>
                     }
                    </div>
            </div>
            <div class="col-md-6">
                <div class="box box-danger">
                    <div class="box-body">
                        <div id="map" style="height:600px;"></div>
                    </div>
                    <div class="box-footer">
                            <a id="update-locations" class="btn btn-info"><i class="fa fa-truck-moving"></i> Update Vehicle Locations</a>
                            <div id="locations-update-info" class="pull-right">
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="autocomplete-menu-container"></div>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=@ViewBag.googleMapsApiKey"></script>
<script>
    var vehList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.vehListDict));
    var servicesList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(servicesList));
    var deliverySlotList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(deliverySlotList));
    var vehListDropdownOptions = getVehicleListDropdown(vehList);
    var customerId = @Model.UserAndProfile.UserId;
    var selAddressId = @Model.Address.UserAddressId;
    var VehicleMarkerArray = {};
    var vehPositions = {};
    var curUserAddrList = {};
    var infoWindow = new google.maps.InfoWindow();
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: { lat: 12.97, lng: 77.65 }
    });
    var marker = new google.maps.Marker({
        draggable: true,
        position: { lat: 12.97, lng: 77.65 },
        title: "Customer location"
    });

    $(document).ready(function () {
        $("#DeliveryDate").datetimepicker({ format: "DD/MM/YYYY" });
        $("#UserAndProfile_BirthDate").datetimepicker({ format: "DD/MM/YYYY" });
        $("#VehicleId").select2({
            placeholder: "Select"
        });
        $("#DeliverySlotId").select2({
            placeholder: "Select"
        });
        GetVehiclePositions();
        
        if (customerId > 0) {
            let customerInfo = $("#UserAndProfile_FirstName").val() + " " + $("#UserAndProfile_LastName").val() + " / " + $("#UserAndProfile_Mobile").val();
            $("#customer-info").html(customerInfo);
            let userAddrList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.userAddressList)); //TODO make it camelcase
            //console.log("new addrList - " + userAddrList);
            if (userAddrList.length > 0) {
                for (let i = 0; i < userAddrList.length; i++) {
                    var curAdd = ConvertToCamelCase(userAddrList[i]);
                    //var curAdd = userAddrList[i]; console.log(curAdd);
                    if (curAdd != null) {
                        AddAddressList(curAdd); 
                    }
                }
                AddNewAddressButton(); console.log("seladdrId" + selAddressId); console.log(curUserAddrList);
                if (selAddressId > 0) {
                    if (curUserAddrList[selAddressId] != undefined) {
                        $(".addr-container[data-addr_id='" + selAddressId + "'] ").addClass("active");
                    }
                }
                else {
                    $(".addr-container.addr-create").addClass("active");
                }
                $("#address-list").show();
            }
            
            $("#new-addr-form").show();
            $("#reset-form").show();
            SetNewMarker($("#Address_Lat").val(), $("#Address_Lng").val());
        }  
    })

    $("#create-order-box form").submit(function () {
        let isValid = validateForm();
        if (isValid) {
            //$("#create-order-box form .btn").prop("disabled", true);
            return true;
        }
        return false;
    })

    function validateForm() {
        let errors = [];
        if ($("#address-list .addr-container").length > 1) {
            if ($("#address-list .addr-container.active").length == 0) {
                errors.push("No delivery address selected.");
                //return false;
            }
        }
        //if ($("#VehicleId").val() == "") {
        //    $("#VehicleId").addClass("input-validation-error");
        //    errors.push("Vehicle not assigned.")
        //}
        //else {
        //    $("#VehicleId").removeClass("input-validation-error");
        //}
        if (errors.length > 0) {
            let errorsHtml = "<p class='text-danger'>" + errors.join("<br/>") + "</p>";
            Swal.fire({
                type: 'warning',
                title: "Please correct the errors.",
                html: errorsHtml,
                //footer: 'Contact administrator if problem persists.',
            });
            return false;
        }
        return true;
    }

    function getVehicleListDropdown(vehList) {
        var list = "";
        list += "<option value=''>Select</option>";
        $.each(vehList, function (key, value) {
            list += "<option value='" + key + "'>" + value.RegNo + "</option>";
        });
        //list += "<option value='0'>Remove</option>";
        return list;
    }

    $(document).on("change", ".delivery-slot, .order-type", function ()
    {
        let deliverySlotId = $(".delivery-slot").val();
        let orderType = $(".order-type").val();
        var itemId = $(this).closest("tr").data("item_id");
        updateServiceItems(deliverySlotId, orderType);
        updateTotal();
    })

    $(document).on("change", ".item-price, .item-qty", function ()
    {
        var itemId = $(this).closest("tr").data("item_id");
        updateTotalItemAmount(itemId);
        updateTotal();
    })

    function updateTotalItemAmount(itemId) {
        let qty = $("#itemList tbody tr[data-item_id='" + itemId + "'] .item-qty").val();
        qty = parseInt(qty, 10);
        let unit_price = $("#itemList tbody tr[data-item_id='" + itemId + "'] .item-price").val();
        unit_price = parseFloat(unit_price, 10);
        let totAmt = 0;
        totAmt = unit_price * qty;
        $("#itemList tbody tr[data-item_id='" + itemId + "'] .item-tot-amount").html(totAmt);
    }

    function updateServiceItems(deliverySlotId, orderType) {
        let deliverySlotType = "";
        $.each(deliverySlotList, function (key, value) {
            if (deliverySlotId == value.Id) {
                deliverySlotType = value.Type;
            }
        })
        console.log(deliverySlotType);
        $("#itemList .service").each(function () {
            let thisOrderType = $(this).data("order_type");
            let thisSlotType = $(this).data("slot_type");
            if ((thisOrderType == orderType || thisOrderType == 0)  && (thisSlotType == deliverySlotType || thisSlotType == 0)) {
                $(this).addClass("active");
                $(this).removeClass("inactive");
                $(this).find(".item-qty").val(1);
            }
            else {
                $(this).removeClass("active");
                $(this).addClass("inactive");
                $(this).find(".item-qty").val(0);
            }
        })
    }

    function updateTotal() {
        let totAmt = 0;
        $("#itemList tbody tr.active").each(function () {
            let amt = $(this).find(".item-tot-amount").html();
            amt = parseFloat(amt, 10);
            totAmt += amt;
        })
        $("#totAmt").html(totAmt);
    }
    //----------------------map vehicle locations ---------------------------------------------------------------

    $(document).on("click", "#update-locations", function () {
        $("#update-locations").html("<i class='fa fa-circle-o-notch fa-spin'></i> Updating");
        $("#update-locations").addClass("disabled");
        //$('#update-locations').prop('disabled', true);
        GetVehiclePositions();
    })

    function clearVehicleMarkers() {
        $.each(VehicleMarkerArray, function (key, vehMarker) {
            google.maps.event.clearListeners(vehMarker, 'click');
            vehMarker.setMap(null);
            delete VehicleMarkerArray[key];
        })
    }

    function updateVehiclePositions(data) {
        vehPositions = data;
        if (vehPositions != undefined) {
            clearVehicleMarkers();
            setVehicleMarkers(map);
            let now = moment().format("HH:mm:ss");
            //$("#locations-updatetime").val(now.getDate);
            $("#locations-update-info").html("Last Updated At - <span id='locations-updatetime'>" + now + "</span>");
        }
        $("#update-locations").html("<i class='fa fa-truck'></i> Update Vehicle Locations");
        //$('#update-locations').prop('disabled', false);
        $("#update-locations").removeClass("disabled");
    }

     function GetVehiclePositions() {
        $.ajax({
            url: "@Url.Action("GetVehicleLocations", "Orders")",
            method: "GET",
            contentType: "application/json",
            dataType: "json",
            data: { tenantId: 1 }, //TODO select tenant
            success: function (data) {
                console.log(data);
                updateVehiclePositions(data);
                return true;
            },
            error: function () {
                //Swal.fire({
                //    type: 'error',
                //    title: 'Sorry, some unexpected error has occured. Please try again.',
                //    footer: 'Contact administrator if problem persists.',
                //})
                $("#update-locations").html("<i class='fa fa-truck'></i> Update Vehicle Locations");
                $("#update-locations").removeClass("disabled");
            }
        });
    }

     function setVehicleMarkers(map) {
        VehicleMarkerArray = {};
        let imageUrl = '/images/tank-truck.png';
        let regNo = "";

        $.each(vehPositions, function (key, value) {
            if (vehList[key] != undefined) {
                regNo = vehList[key].RegNo;
                
                let latlng = new google.maps.LatLng(parseFloat(value.lat), parseFloat(value.lng));
                let lastUpdated = value.createdAt;
                let lastUpdatedMoment = moment(lastUpdated).format('DD-MM-YYYY HH:mm');
                let lastLoginActivityMin = value.dlsTimeAgoMin;
                let loginState = "";
                let category = "active";
                if (value.driverLoginState == 0) {
                    loginState = "Active";
                    category = "active";
                }
                else if (value.driverLoginState == 1) {
                    loginState = "Break";
                    category = "break";
                }
                else if (value.driverLoginState == 2) {
                    loginState = "Active";
                    category = "active";
                }
                else if (value.driverLoginState == 3) {
                    loginState = "Logged Off";
                    category = "inactive";
                }

                if (value.locUpdatedTimeAgoMin > 60) //TODO remove hardcode
                {
                    category = "inactive";
                }
                let locUpdatedTimeAgoMin = lastUpdatedMoment;
                if (value.locUpdatedTimeAgoMin < 3600) {
                    locUpdatedTimeAgoMin = minToHours(value.locUpdatedTimeAgoMin);
                }
                let contentString = '<div id="marker-content">' +
                    '<h4 id="firstHeading" class="firstHeading"><b>' + regNo + '</b></h4><h4>Location Updated : <b>' + locUpdatedTimeAgoMin + '</b></h4>' +
                    '<h4 class="firstHeading">State : <b>' + loginState + '</b>';
                if (lastLoginActivityMin > 0) {
                    contentString += ' for ' + lastLoginActivityMin + ' mins</h4>';
                }
                else {
                    contentString += '</h4>';
                }
                contentString += '<div id="bodyContent">' +
                    '</div>' +
                    '</div>';

                let markerOverlay = new CustomMarker(latlng, map, imageUrl, { category: category, type: "vehicle"});
                google.maps.event.addListener(markerOverlay, 'click', function () {
                    infoWindow.setContent(contentString);
                    infoWindow.open(map, markerOverlay);
                });

                VehicleMarkerArray[key] = markerOverlay;
            }
        });
    }

    function CustomMarker(latlng, map, imgUrl, args) {
        this.latlng = latlng;
        this.args = args;
        this.imgUrl = imgUrl;
        this.setMap(map);
    }
    CustomMarker.prototype = new google.maps.OverlayView();
    CustomMarker.prototype.draw = function () {

        var self = this;

        var div = this.div;

        if (!div) {

            div = this.div = document.createElement('div');

            div.className = 'marker';

            div.style.position = 'absolute';
            div.style.cursor = 'pointer';
            div.style.width = '20px';
            div.style.height = '20px';
            //div.style.background = 'blue';
            let innerHtml = "";
            
            if (typeof (self.args.marker_id) !== 'undefined') {
                div.dataset.marker_id = self.args.marker_id;
            }
            if (typeof (self.args.type) !== 'undefined') {
                div.dataset.type = self.args.type;
                if (self.args.type == 'vehicle') {
                    innerHtml += '<div class="pulse"></div>';
                }
            }
            if (typeof (self.args.category) !== 'undefined') {
                div.dataset.category = self.args.category;
            }
            innerHtml += '<img src="' + self.imgUrl + '"/>';
            div.innerHTML = innerHtml;

            google.maps.event.addDomListener(div, "click", function (event) {
                google.maps.event.trigger(self, "click");
            });

            var panes = this.getPanes();
            panes.overlayImage.appendChild(div);
        }

        var point = this.getProjection().fromLatLngToDivPixel(this.latlng);

        if (point) {
            div.style.left = point.x + 'px';
            div.style.top = point.y + 'px';
        }
    };

    CustomMarker.prototype.remove = function () {
        if (this.div) {
            this.div.parentNode.removeChild(this.div);
            this.div = null;
        }
    };

    CustomMarker.prototype.getPosition = function () {
        return this.latlng;
    };

    function minToHours(totalMinutes) {
        var hours = Math.floor(totalMinutes / 60);          
        var minutes = totalMinutes % 60;
        let minString = "";
        if (hours > 0) {
            minString += hours + "hr ";
        }
        if (minutes > 0) {
            minString += minutes + "min";
        }
        return minString + " ago";
    }

    /*
    function setVehicleMarkers(map) {
        let image = {
            url: '/images/tank-truck.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 32)
        };

        let shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };

        let regNo = "";

        $.each(vehPositions, function (key, value) {
            if (vehList[key] != undefined) {
                regNo = vehList[key].RegNo;
                let latlng = new google.maps.LatLng(parseFloat(value.lat), parseFloat(value.lng));
                let marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    icon: image,
                    shape: shape,
                    title: regNo,
                });
                let lastUpdated = value.createdAt;
                let lastUpdatedMoment = moment(lastUpdated).format('DD-MM-YYYY HH:mm');
                //let now = moment();
                //let timeDiff = now.diff(lastUpdatedMoment, 'minutes', true);
                let contentString = '<div id="marker-content">' +
                    '<h4 id="firstHeading" class="firstHeading">Reg No : <b>' + regNo + '</b></h4><h4>Last Updated At : <b>' + lastUpdatedMoment + '</b></h4>'
                    '<div id="bodyContent">' +
                    '</div>' +
                    '</div>';

                google.maps.event.addListener(marker, 'click', function () {
                    infoWindow.setContent(contentString);
                    infoWindow.open(map, marker);
                });

                VehicleMarkerArray[key] = marker;
            }
        });
    }
    */

    //---------------autocomplete functions ---------------------------------------------------------------------

    $('#UserAndProfile_Mobile').autocomplete(
       {
           source: function (request, response) {
               $.ajax({
                   url: '@Url.Action("UserAutoCompleteSearch", "Orders")',
                   dataType: "json",
                   data: {
                       term: request.term,
                       type: "Customer"
                   },
                   success: function (data) {
                       console.log(data);
                       response(data);
                   }
               });
           },
           appendTo: "#autocomplete-menu-container",
               select: function (e, ui)
               {
                   AutoCompleteSelect(ui);
                   return false;
               }
            })
        .autocomplete("instance")._renderItem = function (ul, item) {
            let lastName = "";
            if (item.userAndProfile.lastName != null) {
                lastName = item.userAndProfile.lastName;
            }
               return $("<li>")
                   .append("<div class='customer-name'>" + item.userAndProfile.firstName + " " + lastName + "</div><div class='customer-phone'><i class='fa fa-phone'></i>" + item.userAndProfile.mobile + "</div>")
                   .appendTo(ul);
        };


    $('#UserAndProfile_FirstName').autocomplete(
       {
           source: function (request, response) {
               $.ajax({
                   url: '@Url.Action("UserAutoCompleteSearch", "Orders")',
                   dataType: "json",
                   data: {
                       term: request.term,
                       type: "Customer"
                   },
                   success: function (data) {
                       console.log(data);
                       response(data);
                   }
               });
           },
           appendTo: "#autocomplete-menu-container",
               select: function (e, ui)
               {
                   AutoCompleteSelect(ui);
                   return false;
               }
            })
        .autocomplete("instance")._renderItem = function (ul, item) {
            let lastName = "";
            if (item.userAndProfile.lastName != null) {
                lastName = item.userAndProfile.lastName;
            }
               return $("<li>")
                   .append("<div class='customer-name'>" + item.userAndProfile.firstName + " " + lastName + "</div><div class='customer-phone'><i class='fa fa-phone'></i>" + item.userAndProfile.mobile + "</div>")
                   .appendTo(ul);
        };

    function AutoCompleteSelect(ui) {
        let lastName = "";
        if (ui.item.userAndProfile.lastName != null) {
            lastName = ui.item.userAndProfile.lastName;
        }
        let customerInfo = ui.item.userAndProfile.firstName + " " + lastName + " / " + ui.item.userAndProfile.mobile;
        //$('#UserSearch').val(customerInfo);
        $("#customer-info").html(customerInfo);
        $("#customerId").val(ui.item.userAndProfile.userId);
        $("#UserAndProfile_FirstName").val(ui.item.userAndProfile.firstName);
        $("#UserAndProfile_LastName").val(ui.item.userAndProfile.lastName);
        
        if (ui.item.userAndProfile.birthDate != null && ui.item.userAndProfile.birthDate != undefined) {
            let birthDate = moment(ui.item.userAndProfile.birthDate).format("DD/MM/YYYY");
            $("#UserAndProfile_BirthDate").val(birthDate);
        }
        else {
            $("#UserAndProfile_BirthDate").val("");
        }
        $("#UserAndProfile_Gender").val(ui.item.userAndProfile.gender);
        $("#UserAndProfile_Mobile").val(ui.item.userAndProfile.mobile);
        $("#UserAndProfile_Email").val(ui.item.userAndProfile.email);
        $("#Type").val(2); // refill
        curUserAddrList = {};
        $("#address-list").html("");
        if (ui.item.addressList.length > 0) {
            for (var i = 0; i < ui.item.addressList.length; i++) {
                var curAdd = ui.item.addressList[i]; console.log(curAdd);
                if (curAdd != null) {
                    AddAddressList(curAdd);
                }
            }

            AddNewAddressButton();
            $("#address-list").show();
            $("#new-addr-form").hide();

            if (Object.keys(curUserAddrList).length == 1) {
                let addr_id = Object.keys(curUserAddrList)[0];
                $(".addr-container[data-addr_id='" + addr_id + "'] ").trigger("click");
            }
        }
        else {
            $("#new-addr-form").show();
        }
        $("#reset-form").show();
    }

    function AddAddressList(curAdd) {
        curUserAddrList[curAdd.userAddressId] = curAdd;
        var address = "";
        address += "<div class='col-md-4'><div class='addr-container' data-addr_id='" + curAdd.userAddressId + "'>";
        address += "<div class='addr-line'>";
        if (curAdd.buildingNo != null) {
            address += curAdd.buildingNo;
        }
        if (curAdd.streetNo != null) {
            address += ", " + curAdd.streetNo;
        }
        address += "</div>";
        if (curAdd.landmark != null) {
            address += "<div class='addr-line'>";
            address += curAdd.landmark;
            address += "</div>";
        }
        address += "<div class='addr-line'>" + curAdd.location;
        address += "</div>";
        
        address += "<div class='addr-line'>";
        if (curAdd.district != null) {
            address += curAdd.district;
        }
        //address += " - " + curAdd.state;
        address += " - " + curAdd.pinCode;
        address += "</div>";

        address += "<span class='active-icon'><i class='fa fa-check'></i></span>";
        address += "</div></div>";

        $("#address-list").append(address);
    }

    function ConvertToCamelCase(addr) {
        var curAddr = {};
        curAddr.userAddressId = addr.UserAddressId;
        curAddr.location = addr.Location;
        curAddr.lat = addr.Lat;
        curAddr.lng = addr.Lng;
        curAddr.buildingNo = addr.BuildingNo;
        curAddr.pinCode = addr.PinCode;
        curAddr.streetNo = addr.StreetNo;
        curAddr.landmark = addr.Landmark;
        curAddr.district = addr.District;
        curAddr.state = addr.State;
        return curAddr;
    }

    function AddAddressListCamelCase(curAdd) {
        curUserAddrList[curAdd.userAddressId] = curAdd;
        var address = "";
        address += "<div class='col-md-4'><div class='addr-container' data-addr_id='" + curAdd.UserAddressId + "'>";
        address += "<div class='addr-line'>" + curAdd.Location;
        address += "</div>";
        address += "<div class='addr-line'>" + curAdd.BuildingNo;
        if (curAdd.StreetNo != null) {
            address += ", " + curAdd.StreetNo;
        }
        address += "</div>";
        if (curAdd.Landmark != null) {
            address += "<div class='addr-line'>";
            address += curAdd.Landmark;
            address += "</div>";
        }
        address += "<div class='addr-line'>";
        if (curAdd.District != null) {
            address += curAdd.District;
        }
        //address += " - " + curAdd.state;
        address += " - " + curAdd.PinCode;
        address += "</div>";

        address += "<span class='active-icon'><i class='fa fa-check'></i></span>";
        address += "</div></div>";

        $("#address-list").append(address);
    }

    function AddNewAddressButton() {
        var createNewAdd = "<div class='col-md-4'><div class='addr-container addr-create'><i class='fa fa-plus'></i></div></div>";
        $("#address-list").append(createNewAdd);
    }

    $(document).on("click", ".addr-container", function () {
        if (!$(this).hasClass("active")) {
            $(".addr-container.active").removeClass("active");
            $(this).addClass("active");
        }
        if ($(this).hasClass("addr-create")) {
            $("#Address_Location").val("");
            $("#Address_Lat").val("");
            $("#Address_Lng").val("");
            $("#Address_BuildingNo").val("");
            $("#Address_StreetNo").val("");
            $("#Address_Landmark").val("");
            $("#Address_District").val("");
            $("#Address_State").val("");
            $("#Address_PinCode").val("");
            $("#Address_PhoneAlternate").val("");
            $("#Address_UserAddressId").val("0");
        }
        else {
            let userAddressId = $(this).data("addr_id");
            if (userAddressId != null)
            {
                let curAddress = curUserAddrList[userAddressId];
                if (curAddress != undefined) {
                    $("#Address_Location").val(curAddress.location);
                    $("#Address_Lat").val(curAddress.lat);
                    $("#Address_Lng").val(curAddress.lng);
                    $("#Address_BuildingNo").val(curAddress.buildingNo);
                    $("#Address_StreetNo").val(curAddress.streetNo);
                    $("#Address_Landmark").val(curAddress.landmark);
                    $("#Address_District").val(curAddress.district);
                    $("#Address_State").val(curAddress.state);
                    $("#Address_PinCode").val(curAddress.pinCode);
                    $("#Address_PhoneAlternate").val(curAddress.phoneAlternate);
                    $("#Address_UserAddressId").val(userAddressId);
                }
            }
        }
        $("#new-addr-form").show();
        SetNewMarker($("#Address_Lat").val(), $("#Address_Lng").val());
    })

    $(document).on("click", "#reset-form", function ()
    {
        $("#customerId").val("");
        $("Address_UserAddressId").val("");
        $("#UserAndProfile_FirstName").val("");
        $("#UserAndProfile_LastName").val("");
        $("#UserAndProfile_Gender").val(0);
        $("#UserAndProfile_Mobile").val("");
        $("#UserAndProfile_Email").val("");
        $("#UserAndProfile_BirthDate").val("");
        $("#DeliverySlotId").val("").trigger("change");
        $("#Type").val("1").trigger("change");
        $("#Quantity").val(1);
        $("#DeliveryDate").val(moment().format("DD/MM/YYYY"));
        $("#address-list").html("");
        $("#new-addr-form").show();
        $("#new-addr-form input").each(function () {
            $(this).val("");
        })
        infoWindow.close();
        marker.setMap(null);
        $("#customer-info").html("New Customer");
        $("#reset-form").hide();
    })

    var LocAutoComplete = new google.maps.places.Autocomplete(document.getElementById('Address_Location'));

    // Set initial restrict to india.
    //LocAutoComplete.setComponentRestrictions(
    //    { 'country': ['in'] });

    google.maps.event.addListener(LocAutoComplete, 'place_changed', function () {
        let place = LocAutoComplete.getPlace();
        if (!place.geometry) {
            return;
        }
        $('#Address_Lat').val(place.geometry.location.lat());
        $('#Address_Lng').val(place.geometry.location.lng());

        SetNewMarker(place.geometry.location.lat(), place.geometry.location.lng());
    });

    function SetNewMarker(lat, lng) {
        console.log(lat + " - " + lng);
        infoWindow.close();
        marker.setMap(null);
        if (lat != "" && lng != "" && lat != undefined && lng != undefined && lat >= -90 && lat <= 90 && lng >= -180 && lng <= 180) {
            let latlng = new google.maps.LatLng(parseFloat(lat), parseFloat(lng));
            marker = new google.maps.Marker({
                draggable: true,
                position: latlng,
                map: map,
                title: "Customer location"
            });

            let contentString = $("#Address_Location").val();
            infoWindow.setContent(contentString);
            infoWindow.open(map, marker);

            google.maps.event.addListener(marker, 'dragend', function (event) {
                document.getElementById("Address_Lat").value = event.latLng.lat();
                document.getElementById("Address_Lng").value = event.latLng.lng();
                //infoWindow.open(map, marker);
            });
        }
    }
</script>