﻿@{
    ViewData["Title"] = "Orders";
    var ordersList = ViewBag.ordersList;
}

<style>
    #filters {
        margin-left: 30px;
        display: inline-block;
    }

    #filters .form-group {
        max-width: 320px;
    }
    .select2-container {
        z-index: 99999 !important;
    }
    .popover .select2-container {
        width: 180px !important;
    }
    .select2-container .select2-selection--single {
        height: 32px;
    }
    .popover {
        max-width: 400px !important;
        min-width: 300px;
    }
    .customerName, .vehicleName { font-weight: 700; cursor: pointer;}
    .vehicleName { margin-bottom: 5px;}
    #locations-updatetime {
        font-weight: bold;
    }

    #update-locations i {
        margin-right: 5px;
    }
    .customer-marker i { margin-right: 10px;}
    .customer-marker h5 { font-size: 16px; }

    .swal2-validation-message { margin-top: 7px;}
    .swal2-content .control-label {
        font-weight: 400;
        font-size: 18px;
        text-align: left;
    }
    .swal2-content #delivered-datepicker {
        font-weight: 400;
        max-width: 140px;
        font-size: 14px;
        z-index: 999;
    }
    .swal2-container .swal2-actions {
        z-index: 0 !important;
    }
    #orderList_wrapper {
        overflow-x: auto;
    }
    #orderList .actions .btn { margin-bottom: 8px;}
    #orderList .delivered-date, #orderList .cancelled-date { margin-top: 5px;}
    #orderList .status .label {
        font-size: 100%;
        color: #fff;
        background: #999999;
    }
    #orderList .status .label.DELIVERED {
        background: #409b71;
    }
        #orderList .status .label.VEHICLE_ASSIGNED {
            background: #00acd6;
        }
        #orderList .status .label.DRIVER_CANCELLED {
            background: #ce3f2c;
        }
</style>
<div class="content-wrapper">
    @*<section class="content-header">
        <h1>@ViewData["Title"]</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Home", "Index")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>*@
    <section class="content">
        <div class="row">
            <div class="col-xs-8">
                <div class="box box-danger">
                    <div class="box-header with-border">
                                <h3 class="box-title">Orders <a href="@Url.Action("Create")" style="margin-left: 10px;" class="btn btn-primary btn-sm"><i class="fa fa-plus" style="margin-right:5px;"></i> Create New</a></h3>
                                <div class="box-tools pull-right">
                                    <div id="filters">
                                    @using (Html.BeginForm("Index", "Orders", FormMethod.Get))
                                    {
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input name="fromDate" id="fromDate" class="form-control pull-right" value="@ViewBag.fromDate" />
                                                <div class="input-group-addon" style="border-left: none; border-right: none; background: #efefef;">
                                                    to
                                                </div>
                                                <input name="toDate" id="toDate" class="form-control" value="@ViewBag.toDate" />
                                                <div class="input-group-btn">
                                                    <input type="submit" class="btn btn-block bg-gray" value="Filter"  />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    </div>
                                </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="orderList" class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S No</th>
                                            <th>Id</th>
                                            <th>Customer</th>
                                            <th>Mobile</th>
                                            <th>Address</th>
                                            <th>Qty</th>
                                            <th>Type</th>
                                            <th>Delivery Date</th>
                                            <th>Delivery Slot</th>
                                            <th>Vehicle Assigned</th>
                                            <th>Delivery Planned At</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (OrderModel item in ordersList)
                                        {
                                        
                                        <tr data-order_id="@item.Id">
                                            @{
                                                String address = "";
                                                if (!String.IsNullOrEmpty(item.Address.BuildingNo))
                                                {
                                                    address = item.Address.BuildingNo;
                                                }
                                                else
                                                {
                                                    address = item.Address.Location;
                                                }
                                            }
                                            <td></td>
                                            <td>@item.Code</td>
                                            <td>
                                                <a class="customerName" data-customer_name="@item.UserFullName" data-customer_loc="@address"
                                                   data-order_id="@item.Id" data-lat="@item.Address.Lat" data-lng="@item.Address.Lng" data-vehicle_assigned="@item.VehicleRegNo">@item.UserFullName</a>
                                            </td>
                                            <td class="mobile"><i class="fa fa-phone" style="margin-right: 8px;"></i>@item.UserMobile</td>
                                            <td>@address</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.Type</td>
                                            <td class="deliveryDate">@item.DeliveryDate.ToString("dd/MM/yyyy")</td>
                                            <td class="deliverySlot">
                                                @item.DeliverySlotName
                                            </td>
                                            <td class="vehicle">
                                                @if (@item.VehicleId == null)
                                                {
                                                <a tabindex="0" role="button" class="btn btn-sm bg-olive assign-veh-popover"><i class="fa fa-truck" style="margin-right: 5px;"></i> Assign</a>
                                                }
                                                else
                                                {
                                                <a class="vehicleName" data-vehicle_id="@item.VehicleId">@item.VehicleRegNo</a>
                                                @if (item.Status == OrderStatus.VEHICLE_ASSIGNED)
                                                    {
                                                <a tabindex="0" role="button" class="btn btn-sm bg-olive assign-veh-popover"><i class="fa fa-pencil" style="margin-right: 5px;"></i>Update</a>
                                                    }

                                                }
                                            </td>
                                            <td class="plannedDeliveryFrom">
                                                @if (@item.PlannedDeliveryFrom != null)
                                                {
                                                @item.PlannedDeliveryFrom.Value.ToString("dd/MM/yyyy HH:mm")
                                                }
                                                else
                                                {
                                                @:-
                                                }
                                            </td>
                                            <td class="status @item.Status">
                                                <label class="label label-default @item.Status">@item.StatusName</label>
                                                @if (@item.Status == OrderStatus.DELIVERED)
                                                {
                                                <div class="delivered-date">
                                                    @item.DeliveredAt.Value.ToString("dd/MM/yyyy HH:mm")
                                                </div>
                                                @if (@item.DeliveryRemarks != null)
                                                    {
                                                <div class="remarks">
                                                    @item.DeliveryRemarks
                                                </div>
                                                    }
                                                }
                                                @if (@item.Status == OrderStatus.DRIVER_CANCELLED)
                                                {
                                                <div class="cancelled-date">
                                                    @item.CancelledAt.Value.ToString("dd/MM/yyyy HH:mm")
                                                </div>
                                                @if (@item.CancelledRemarks != null)
                                                    {
                                                <div class="remarks">
                                                    @item.CancelledRemarks
                                                </div>
                                                    }
                                                }
                                            </td>

                                            <td class="actions">
                                                @*@if (@item.Status == OrderStatus.VEHICLE_ASSIGNED)
                                                {
                                                    <a tabindex="0" role="button" class="btn btn-sm btn-success deliver-order"><i class="fa fa-check" style="margin-right: 5px;"></i> Deliver</a>
                                                }*@
                                                @if (@item.Status != OrderStatus.CUSTOMER_CANCELLED && @item.Status != OrderStatus.DRIVER_CANCELLED && @item.Status != OrderStatus.DELIVERED)
                                                {
                                                    <a tabindex="0" role="button" class="btn btn-sm btn-danger cancel-order"><i class="fa fa-remove" style="margin-right: 5px;"></i> Cancel</a>
                                                    <a tabindex="0" role="button" class="btn btn-sm btn-success deliver-order" style="display:none"><i class="fa fa-check" style="margin-right: 5px;"></i> Deliver</a>
                                                }
                                                @*<a tabindex="0" role="button" href="@Url.Action("Edit", "Orders", new { id = @item.Id })" class="btn btn-sm btn-primary"><i class="fa fa-edit" style="margin-right: 5px;"></i> Edit</a>*@
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="box box-danger">
                    <div class="box-body">
                        <div id="map" style="height:400px;"></div>
                    </div>
                    <div class="box-footer">
                        <a id="update-locations" class="btn btn-info"><i class="fa fa-truck"></i> Update Vehicle Locations</a>
                        <div id="locations-update-info" class="pull-right">
                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.googleMapsApiKey"></script>
<script>
    var orderDataTable = $("#orderList").DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        'autoWidth': true,
        'columnDefs': [{ orderable: false, targets: [-1] }],
        'order': [[1, "desc"]],
        'language': {
            'emptyTable': 'No orders found.'
        },
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $("td:first", nRow).html(iDisplayIndex + 1);
            return nRow;
        },
    })

    var vehList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.vehListDict)); 
    var vehListDropdownOptions = getVehicleListDropdown(vehList);
    var infowindow = new google.maps.InfoWindow();
    var VehicleMarkerArray = {};
    var CustomerMarkerArray = [];
    var vehPositions = {};
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: { lat: 13.06, lng: 77.75 }
    });

    $(document).ready(function () {
        $("#fromDate").datetimepicker({ format: "DD-MM-YYYY" });
        $("#toDate").datetimepicker({ format: "DD-MM-YYYY" });
        GetVehiclePositions();
    })

    function getVehicleListDropdown(vehList) {
        var list = "";
        list += "<option value=''>Select</option>";
        $.each(vehList, function (key, value) {
            list += "<option value='" + key + "'>" + value.RegNo + "</option>";
        });
        //list += "<option value='0'>Remove</option>";
        return list;
    }

    $(document).on('click', function (e) {
        $('[data-toggle="popover"],[data-original-title]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                (($(this).popover('hide').data('bs.popover') || {}).inState || {}).click = false  // fix for BS 3.3.6
            }

        });
    });

    function GetValidationErrors(errorArr) {
        var errors = "";
        for (var i = 0; i < errorArr.length; i++) {
            errors += errorArr[i];
        }
        return errors;
    }

    function showLoader(comments = null) {
        if (comments != null) {
            $("#loader #comments").html(comments);
        } else {
            $("#loader #comments").html("");
        }
        $("#loader").show();
        $("#overlay").show();
        $("body").addClass("loader-shown");
    }
    function hideLoader() {
        $("#loader").hide();
        $("#overlay").hide();
        $("body").removeClass("loader-shown");
    }

    // ----------------------------ASSIGN VEHICLE ---------------------------------------------------------------

    var AssignVehiclePopoverContent = "<select class='assign-veh-select'>" + vehListDropdownOptions + "</select> <button class='assign-veh-submit btn btn-success'><i class='fa fa-check'></i></button> <button class='assign-veh-cancel btn'><i class='fa fa-remove'></i></button>";

    $(document).on('click', '.assign-veh-submit', function () {
        var veh_id = $(this).parent().find('.assign-veh-select').val();
        var order_id = $(this).closest('tr').find('.customerName').data('order_id'); console.log(veh_id + " / " + order_id);

        AssignVehicle(order_id, veh_id);
        (($(this).closest('td').find('.assign-veh-popover').popover('hide').data('bs.popover') || {}).inState || {}).click = false;

    })

    $(document).on('click', '.assign-veh-cancel', function () {
        (($(this).closest('td').find('.assign-veh-popover').popover('hide').data('bs.popover') || {}).inState || {}).click = false;
    })

    $('.assign-veh-popover').popover({
        title: "Assign Vehicle",
        html: true,
        content: AssignVehiclePopoverContent,
        placement: "bottom"
        //container: 'body'
    });

    $(document).on('shown.bs.popover', '.assign-veh-popover', function () {
        $('.assign-veh-select').select2();
    })

    function AssignVehicle(order_id, vehicle_id) {
        showLoader("Trying to assign vehicle");
        $.ajax({
            url: "@Url.Action("AssignVehicle", "Orders")",
            method: "GET",
            contentType: "application/json",
            dataType: "json",
            data: {orderId: order_id, vehicleId: vehicle_id},
            success: function (data) {
                hideLoader();
                if (data.err != undefined) {
                    if (data.err.length > 0) {
                        var errors = "<p class='text-danger'>" + data.err.join("<br/>") + "</p>";
                        Swal.fire({
                            type: 'error',
                            title: "Sorry, could not assign vehicle.",
                            html: errors,
                            footer: 'Contact administrator if problem persists.',
                        });
                        return;
                    }
                }
                let StatusLabel = "<label class='label label-default VEHICLE_ASSIGNED'>Vehicle Assigned</label>";
                let VehicleCellHtmlContent = '<a class="vehicleName" data-vehicle_id="' + vehicle_id + '">' + vehList[vehicle_id].RegNo + '</a>';
                VehicleCellHtmlContent += '<a tabindex="0" role="button" class="btn btn-sm bg-olive assign-veh-popover"><i class="fa fa-pencil" style="margin-right: 5px;"></i>Update</a>';
                $("#orderList tbody tr[data-order_id='" + order_id + "'] .status").html(StatusLabel);
                $("#orderList tbody tr[data-order_id='" + order_id + "'] .vehicle").html(VehicleCellHtmlContent);
                $("#orderList tbody tr[data-order_id='" + order_id + "'] .deliver-order").show();

                $("#orderList tbody tr[data-order_id='" + order_id + "'] .assign-veh-popover").popover({
                    title: "Update Vehicle",
                    html: true,
                    content: AssignVehiclePopoverContent,
                    placement: "bottom"
                });

                var updatedRow = $("#orderList tbody tr[data-order_id='" + order_id + "']");
                orderDataTable.row(updatedRow).invalidate().draw();
                Swal.fire({
                    type: 'success',
                    title: 'Vehicle assigned successfully.',
                    timer: 2000,
                    //position: 'top-end',
                    showConfirmButton: false
                })
                return;
            },
            error: function () {
                hideLoader();
                Swal.fire({
                    type: 'error',
                    title: 'Sorry, some unexpected error has occured. Please try again.',
                    footer: 'Contact administrator if problem persists.',
                })
            }
        });
    }

    //-----------------------ORDER CANCEL ------------------------------------------------------

    $(document).on('click', '.cancel-order', function () {
        var order_id = $(this).closest('tr').data('order_id');
        CancelOrder(order_id);
    })

    let cancelOrderInputs = "";
    cancelOrderInputs += '<div class="row"><div class="col-md-12"><div class="form">';
    cancelOrderInputs += '<div class="form-group"><label class="control-label col-md-12">Reason</label>';
    cancelOrderInputs += '<div class="col-md-12"><textarea id="order-cancel-reason" class="form-control" placeholder="Enter cancel reason"></textarea></div></div>';
    cancelOrderInputs += '</div></div></div>';

    function CancelOrder(id) {
        Swal.fire({
            title: 'Are you sure you want to cancel this order?',
            //text: "You won't be able to revert this!",
            type: 'warning',
            html: cancelOrderInputs,
            showCancelButton: true,
            cancelButtonText: "No",
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, continue!',
            onOpen: function () {
                //$('#eta-datepicker').datetimepicker({ format: "DD/MM/YYYY HH:mm", defaultDate: moment() });
                //$('#hub-location').val(originId);
            },
            preConfirm: function () {
                return new Promise((resolve, reject) => {
                    let cancel_reason = $('#order-cancel-reason').val();
                    if (cancel_reason === '') {
                        Swal.showValidationMessage(`Cancel reason is empty`);
                        
                    }
                    resolve({
                        remarks: cancel_reason,
                    });
                });
            },
        }).then((result) => {
            if (result.value) {
                console.log(result.value.remarks);
                showLoader();
                $.ajax({
                    url: "@Url.Action("CancelOrder", "Orders")",
                    dataType: "json",
                    data: {
                        id: id,
                        remarks: result.value.remarks,
                    },
                    success: function (data) {
                        hideLoader();
                        if (data.err != undefined) {
                            if (data.err.length > 0) {
                                let errors = "<p class='text-danger'>" + data.err.join("<br/>") + "</p>";
                                Swal.fire({
                                    type: 'error',
                                    title: "Sorry, could not cancel order.",
                                    html: errors,
                                    footer: 'Contact administrator if problem persists.',
                                });
                                return;
                            }
                        }
                        let cancelStatusLabel = "<label class='label label-default DRIVER_CANCELLED'>Order Cancelled</label>";
                        let Date = "<div class='cancelled-date'></div>"; //TODO add cancelled date
                        let Remarks = "";
                        if (result.value.remarks != "") {
                            Remarks = result.value.remarks;
                        }
                        $("#orderList tbody tr[data-order_id='" + id + "'] .status").html(cancelStatusLabel + Date + Remarks);
                        $("#orderList tbody tr[data-order_id='" + id + "'] .cancel-order").hide();
                        $("#orderList tbody tr[data-order_id='" + id + "'] .deliver-order").hide();
                        $("#orderList tbody tr[data-order_id='" + id + "'] .assign-veh-popover").hide();
                        var updatedRow = $("#orderList tbody tr[data-order_id='" + id + "']");
                        orderDataTable.row(updatedRow).invalidate().draw();

                            Swal.fire({
                                type: 'success',
                                title: 'Order cancelled successfully.',
                                timer: 2000,
                                showConfirmButton: false
                            })
                    },
                    error: function () {
                        hideLoader();
                        Swal.fire({
                            type: 'error',
                            title: 'Sorry, some unexpected error has occured. Please try again.',
                            footer: 'Contact administrator if problem persists.',
                        })
                    }
                });
            }
        })
    }

   //-----------------------ORDER DELIVER ------------------------------------------------------

    $(document).on('click', '.deliver-order', function () {
        var order_id = $(this).closest('tr').data('order_id');
        DeliverOrder(order_id);
    })

    let deliverOrderInputs = "";
    deliverOrderInputs += '<div class="row"><div class="col-md-12"><div class="form-horizontal">';
    deliverOrderInputs += '<div class="form-group"><label class="control-label col-md-12">Delivered At</label>';
    deliverOrderInputs += '<div class="col-md-12"><input id="delivered-datepicker" class="form-control"></div></div>';
    deliverOrderInputs += '<div class="form-group"><label class="control-label col-md-12">Remarks</label>';
    deliverOrderInputs += '<div class="col-md-12"><textarea id="order-delivered-reason" class="form-control" placeholder="Enter remarks"></textarea></div></div>';

    deliverOrderInputs += '</div></div></div>';

    function DeliverOrder(id) {
        Swal.fire({
            title: 'Are you sure you want to mark this order as DELIVERED?',
            //text: "You won't be able to revert this!",
            type: 'warning',
            html: deliverOrderInputs,
            showCancelButton: true,
            cancelButtonText: "No",
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, continue!',
            onOpen: function () {
                $('#delivered-datepicker').datetimepicker({ format: "DD/MM/YYYY HH:mm", defaultDate: moment() });
            },
            preConfirm: function () {
                return new Promise((resolve, reject) => {
                    resolve({
                        remarks: $('#order-delivered-reason').val(),
                        date: $('#delivered-datepicker').val(),
                    });
                });
            }
        }).then((result) => {
            if (result.value) {
                showLoader();
                $.ajax({
                    url: "@Url.Action("DeliverOrder", "Orders")",
                    dataType: "json",
                    data: {
                        id: id,
                        remarks: result.value.remarks,
                        date: result.value.date
                    },
                    success: function (data) {
                        hideLoader();
                        if (data.err != undefined) {
                            if (data.err.length > 0) {
                                let errors = "<p class='text-danger'>" + data.err.join("<br/>") + "</p>";
                                Swal.fire({
                                    type: 'error',
                                    title: "Sorry, could not mark the order as delivered.",
                                    html: errors,
                                    footer: 'Contact administrator if problem persists.',
                                });
                                return;
                            }
                        }
                        let StatusLabel = "<label class='label label-default DELIVERED'>Order Delivered</label>";
                        let Remarks = "";
                        let Date = "<div class='delivered-date'>" + result.value.date + "</div>";
                        if (result.value.remarks != "") {
                            Remarks += "<div class='remarks'>" + result.value.remarks + "</div>";
                        }
                        $("#orderList tbody tr[data-order_id='" + id + "'] .status").html(StatusLabel + Date + Remarks);
                        $("#orderList tbody tr[data-order_id='" + id + "'] .deliver-order").hide();
                        $("#orderList tbody tr[data-order_id='" + id + "'] .cancel-order").hide();
                        $("#orderList tbody tr[data-order_id='" + id + "'] .assign-veh-popover").hide();
                        
                        var updatedRow = $("#orderList tbody tr[data-order_id='" + id + "']");
                        orderDataTable.row(updatedRow).invalidate().draw();

                            Swal.fire({
                                type: 'success',
                                title: 'Order successfully marked as DELIVERED.',
                                timer: 2000,
                                showConfirmButton: false
                            })
                    },
                    error: function () {
                        hideLoader();
                        Swal.fire({
                            type: 'error',
                            title: 'Sorry, some unexpected error has occured. Please try again.',
                            footer: 'Contact administrator if problem persists.',
                        })
                    }
                });
            }
        })
    }
    // -------------------------vehicle locations -------------------------------------------------------------

    $(document).on("click", "#update-locations", function () {
        $("#update-locations").html("<i class='fa fa-circle-o-notch fa-spin'></i> Updating");
        $("#update-locations").addClass("disabled");
        //$('#update-locations').prop('disabled', true);
        GetVehiclePositions();
    })

    function clearVehicleMarkers() {
        $.each(VehicleMarkerArray, function (key, vehMarker) {
            google.maps.event.clearListeners(vehMarker, 'click');
            vehMarker.setMap(null);
            delete VehicleMarkerArray[key];
        })
    }

    $(document).on("click", ".vehicleName", function () {
        let vehId = $(this).data("vehicle_id");
        var marker = VehicleMarkerArray[vehId];
        new google.maps.event.trigger(marker, 'click');
    })

    function updateVehiclePositions(data) {
        vehPositions = data;
        if (vehPositions != undefined) {
            clearVehicleMarkers();
            setVehicleMarkers(map);
            let now = moment().format("HH:mm:ss");
            $("#locations-update-info").html("Last Updated At - <span id='locations-updatetime'>" + now + "</span>");
        }
        $("#update-locations").html("<i class='fa fa-truck'></i> Update Vehicle Locations");
        //$('#update-locations').prop('disabled', false);
        $("#update-locations").removeClass("disabled");
    }

     function GetVehiclePositions() {
        $.ajax({
            url: "@Url.Action("GetVehicleLocations", "Orders")",
            method: "GET",
            contentType: "application/json",
            dataType: "json",
            data: { tenantId: 1 }, //TODO select tenant
            success: function (data) {
                updateVehiclePositions(data);
                return true;
            },
            error: function () {
                //Swal.fire({
                //    type: 'error',
                //    title: 'Sorry, some unexpected error has occured. Please try again.',
                //    footer: 'Contact administrator if problem persists.',
                //})
                $("#update-locations").html("<i class='fa fa-truck'></i> Update Vehicle Locations");
                $("#update-locations").removeClass("disabled");
            }
        });
    }

    function setVehicleMarkers(map) {
        let image = {
            url: '/images/tank-truck.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 32)
        };

        let shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };

        let regNo = "";
        $.each(vehPositions, function (key, value) {
            if (vehList[key] != undefined) {
                regNo = vehList[key].RegNo;
                let latlng = new google.maps.LatLng(parseFloat(value.lat), parseFloat(value.lng));
                let marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    icon: image,
                    shape: shape,
                    title: regNo,
                });
                let lastUpdated = value.createdAt;
                let lastUpdatedMoment = moment(lastUpdated).format('DD-MM-YYYY HH:mm'); 
                let contentString = '<div id="marker-content">' +
                    '<h4 id="firstHeading" class="firstHeading">Reg No : <b>' + regNo + '</b></h4><h4>Last Updated At : <b>' + lastUpdatedMoment + '</b></h4>'
                    '<div id="bodyContent">' +
                    '</div>' +
                    '</div>';

                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.setContent(contentString);
                    infowindow.open(map, marker);
                });

                VehicleMarkerArray[key] = marker;
            }
        });
    }

    // -------------------------CUSTOMER MARKER--------------------------------------------------------

    function clearCustomerMarkers() {
        for (var i = 0; i < CustomerMarkerArray.length; i++) {
            CustomerMarkerArray[i].setMap(null);
        }
    }

    $(document).on("click", ".customerName", function () {
        let customerDetails = {};
        customerDetails.lat = $(this).data("lat");
        customerDetails.lng = $(this).data("lng");
        customerDetails.name = $(this).data("customer_name");
        customerDetails.orderId = $(this).data("order_id");
        customerDetails.vehicle = $(this).data("vehicle_assigned");
        customerDetails.location = $(this).data("customer_loc");
        customerDetails.mobile = $(this).closest("tr").find(".mobile").html();
        customerDetails.deliveryDate = $(this).closest("tr").find(".deliveryDate").html();
        customerDetails.deliverySlot = $(this).closest("tr").find(".deliverySlot").html();
        customerDetails.plannedDeliveryFrom = $(this).closest("tr").find(".plannedDeliveryFrom").html();
        clearCustomerMarkers();
        createCustomerMarker(customerDetails);
    })
 
    function createCustomerMarker(customerDetails)
    {
        let contentString = '<div class="customer-marker" id="marker-content">' +
            '<h4><b>' + customerDetails.name + '</b></h4>' +
            '<h5>' + customerDetails.mobile + '</h5>' +
            '<h5><i class="fa fa-home"></i>' + customerDetails.location + '</h5>' +
            '<h5><i class="fa fa-calendar"></i>' + customerDetails.deliveryDate + ' | ' + customerDetails.deliverySlot+ '</h5>' +
            '<h5><i class="fa fa-truck"></i> ' + customerDetails.vehicle + ' | ' + customerDetails.plannedDeliveryFrom + '</h5>' +
            '</div>';
        let latlng = new google.maps.LatLng(parseFloat(customerDetails.lat), parseFloat(customerDetails.lng));
        let marker = new google.maps.Marker({
            position: latlng,
            title: customerDetails.name,
            icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
            map: map
        });

        infowindow.setContent(contentString);
        infowindow.open(map, marker);

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.setContent(contentString);
            infowindow.open(map, marker);
        });

        CustomerMarkerArray.push(marker);
    }
</script>