﻿
/* CSS Document */

.whitebox_med { background: #fff; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; text-align: center; }
.whitebox_med h4 { font-size: 17px; color: #333; font-weight: 700; margin-top: 0; }
.whitebox_med .btn-primary { border-color: #c6c6c6; padding: 8px 40px; border-radius: 25px; background: none !important; color: #444; margin-top: 5px; -webkit-transition: all 0.7s; -moz-transition: all 0.7s; -ms-transition: all 0.7s; -o-transition: all 0.7s; transition: all 0.7s; }
.whitebox_med .btn-primary:hover, .whitebox_med:hover .btn-primary { background: #475968 !important; background-color: #475968 !important; color: #fff; opacity: 1; border-color: #475968; }
/***===dashboard white btn box===***/

/*color box*/
.small-box > .inner { padding: 25px; }
/*header*/
.skin-blue .main-header .logo { background-color: #2d3e50; }
.skin-blue .main-header .navbar { background-color: #2d3e50; }
.user-panel { background: #3e5871; }
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side { background-color: #213347; }
.skin-blue .sidebar-menu > li.header { background: #fff; }
.skin-blue .main-header .navbar .sidebar-toggle:hover { background-color: #ed1a3b; }
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a { background: #d11c38; border-left-color: #650211; }
.skin-blue .main-header li.user-header { background-color: #d11c38; }
/**delivery page**/

.delivery_table_section .profile-userpic img { margin: 0 auto; float: none; }
.profile-userpic { margin-top: 5px; }
.profile-userpic img { float: none; margin: 0 auto; width: 40px; height: 40px; border-radius: 9999px !important; }
table.dataTable thead > tr > th, .table-bordered > tbody > tr > td { text-align: center; }
.status_1 { padding: 5px 15px; background: #093; }
.status_2 { padding: 5px 15px; background: #ed1a3b; }
.status_3 { padding: 5px 15px; background: #ed971b; }
.status_4 { padding: 5px 15px; background: #edd71b; }
.status_1, .status_2, .status_3, .status_4 { padding: 0; border-radius: 50%; height: 10px; width: 10px; display: inline-block; }
table.dataTable thead .sorting_asc::after { background: url(../img/sort_icon.png) no-repeat; content: ""; width: 12px; height: 12px; opacity: .6; }
table.dataTable thead .sorting::after { background: url(../img/sort_icon.png) no-repeat; content: ""; width: 12px; height: 12px; opacity: .6; }
table.dataTable thead .sorting_desc::after { background: url(../img/sort_icon.png) no-repeat; content: ""; width: 12px; height: 12px; opacity: .6; }
.box-header .box-title { font-size: 20px; color: #333; }
.form-control:focus {
    border-color: #4d92d8;
}
.table_address { color: #076f99; font-size: 13px; text-decoration: underline; }
.table_address:hover { color: #036289; text-decoration: underline; }
.table_phone a { color: #096; }
.pagination > .active > a, .pagination > .active > a:hover { background-color: #d11c38; border-color: #d11c38; }
.main-footer a { color: #d11c38; }
.detail li { margin: 0; padding: 0; list-style: none }
.detail { padding: 10px; margin: 0; font-size: 15px; font-weight: bold; }
.detail span { font-weight: normal }
.detail { line-height: 25px; }
.detail a:hover { cursor: pointer; }
/****** LOGIN MODAL ******/
.loginmodal-container { padding: 10px; max-width: 500px; width: 100% !important; background-color: #F7F7F7; margin: 0 auto; border-radius: 2px; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); overflow: hidden; font-family: roboto; }
.detail a { color: #d11c38; }
.detail a:hover { color: #ba0622; opacity: 1; }
.delivery_section .box { border-top: none; }
.delivery_section .box-header { font-size: 17px; color: #fff; background-color: #337ab7; border-color: #337ab7; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.delivery_section .box-header .box-title { color: #fff; font-size: 17px; }
.delivery_map_right .panel-primary { border-color: #fff; }
.delivery_section .label-success, .delivery_section .label-danger, .delivery_section .label-warning, .delivery_section .label-info { display: inline-block;}

/****** Responsive ******/

@media (min-width : 320px) and (max-width: 480px) {
.small-box{ min-height:170px;}
.whitebox_med .btn-primary{ padding:6px 30px;}
.delivery_section .col-xs-8, .delivery_section .col-xs-4{width:100%;}
.table-responsive{ padding:15px 0;}
}

@media (min-width: 480px) and (max-width: 599px) {
	.delivery_section .col-xs-8, .delivery_section .col-xs-4{width:100%;}
	.table-responsive{ padding:15px 0;}

}

@media (min-width: 600px) and (max-width: 767px) {
	.delivery_section .col-xs-8, .delivery_section .col-xs-4{width:100%;}
	.table-responsive{ padding:15px 0;}

}

@media (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.delivery_section .col-xs-8, .delivery_section .col-xs-4{width:100%;}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

}

@media only screen and (min-width:1023px) and (max-width:1100px) {
	.delivery_section .col-xs-8, .delivery_section .col-xs-4{width:100%;}

}

@media only screen and (min-width:1101px) and (max-width:1155px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1200px) and (max-width: 1280px) {

}

@media (min-width: 1300px) and (max-width: 1366px) {

}

@media (min-width: 1368px) and (max-width: 1450px) {

}

@media (min-width: 1600px) and (max-width: 1680px) {
}

@media (min-width: 1900px) and (max-width: 1920px) {
}

/*-------------------------------- Sweet Alert 2 CSS----------------------------------------------------------------------------------------------------------------------------------------*/

#swal2-content { font-size: 1.8em !important; }
.swal2-title { font-size: 2em !important; line-height: 1.3em !important;}
.swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel {
    font-size: 1.5em !important;
}
/* --------------------------------Loader--------------------------------------------------------------------------------------------------------------------------------*/
#loader {
    position: absolute;
    top: calc( 50% - 35px );
    left: calc( 50% - 150px );
    display: none;
    z-index: 99999;
    width: 300px;
}

#overlay {
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #333;
    display: none;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

#loader #comments {
    color: #f1f1f1; text-align: center; margin-top: 5px; display: block;
}
body.loader-shown { overflow: hidden !important;}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.alert.alert-danger-light {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.form-control.input-validation-error {
    border-color: #af444f;
}
.control-label.is-required::after { content:" *"; color: red;}