﻿@model EasyGasAdminWebsite.Models.QueryUserWithDetailsModel
@addTagHelper *, EasyGasAdminWebsite
@{
    ViewData["Title"] = Model.UserAndProfile.FirstName + " " + Model.UserAndProfile.LastName;
}
<style>
    .customerName, .vehicleName { font-weight: 700; cursor: pointer;}
    .vehicleName { margin-bottom: 5px;}

        #orderList_wrapper {
        overflow-x: auto;
    }
    #orderList .actions .btn { margin-bottom: 8px;}
    #orderList .delivered-date, #orderList .cancelled-date { margin-top: 5px;}
    #orderList .status .label {
        font-size: 100%;
        color: #fff;
        background: #999999;
    }
    #orderList .status .label.DELIVERED {
        background: #409b71;
    }
        #orderList .status .label.VEHICLE_ASSIGNED {
            background: #00acd6;
        }
        #orderList .status .label.DRIVER_CANCELLED {
            background: #ce3f2c;
        }

    #address-list .addr-container {
                padding: 15px;
                border: 1px dashed #d6d6d6;
                min-height: 80px;
                background: #f9f9f9bf;
                margin-bottom: 20px;
                cursor: pointer;
                color: #3897da;
                overflow: auto;
            }
</style>
<div class="content-wrapper">
    <section class="content-header">
        <h1>@ViewData["Title"]</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "Customers")"><i class="fa fa-dashboard"></i>Customers</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Mobile</label>
                                            <div>@Model.UserAndProfile.Mobile</div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Email</label>
                                            <div>@Model.UserAndProfile.Email</div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Gender</label>
                                            <div>
                                                @Model.UserAndProfile.Gender
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Birth Date</label>
                                            <div>
                                                @if (Model.UserAndProfile.BirthDate != null)
                                                {
                                                    @Model.UserAndProfile.BirthDate.Value.ToString("dd/MM/yyyy")
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Addresses</h3>
                    </div>
                    <div class="box-body">
                        <div id="address-list" class="row">
                            @foreach (AddressModel address in Model.AddressList)
                            {
                                <div class="col-md-4">
                                    <div class="addr-container">
                                        @address.GetCompleteAddress()
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Items</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Item</th>
                                            <th>Is Returnable</th>
                                            <th>Is Surrendered</th>
                                            <th>Surrender Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ 
                                            int itemSerial = 1;
                                        }
                                        @foreach (UserItemModel userItem in Model.UserItemList)
                                        {
                                            <tr>
                                                <td>@itemSerial</td>
                                                <td>@userItem.Item.Name</td>
                                                <td>@userItem.IsReturnable</td>
                                                <td>
                                                    @if(userItem.Status == UserItemStatus.ItemSurrendered)
                                                    {
                                                        @:Yes
                                                    }
                                                    else
                                                    {
                                                        @:No
                                                    }
                                                </td>
                                                <td>
                                                    
                                                </td>
                                            </tr>
                                                itemSerial += 1;
                                        }
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Orders</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="orderList" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Address</th>
                                            <th>Qty</th>
                                            <th>Type</th>
                                            <th>Delivery Date</th>
                                            <th>Delivery Slot</th>
                                            <th>Vehicle Assigned</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (OrderModel item in Model.OrderList)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Code
                                                </td>
                                                <td>@item.Address.GetCompleteAddress()</td>
                                                <td>@item.Quantity</td>
                                                <td>@item.Type</td>
                                                <td class="deliveryDate">@item.DeliveryDate.ToString("dd/MM/yyyy")</td>
                                                <td class="deliverySlot">
                                                    @item.DeliverySlotName
                                                </td>
                                                <td class="vehicle">
                                                    @if (@item.VehicleId != null)
                                                    {
                                                        @item.VehicleRegNo
                                                    }
                                                </td>
                                                <td class="status @item.Status">
                                                    <label class="label label-default @item.Status">@item.StatusName</label>
                                                    @if (@item.Status == OrderStatus.DELIVERED)
                                                    {
                                                        <div class="delivered-date">
                                                            @item.DeliveredAt.Value.ToString("dd/MM/yyyy HH:mm")
                                                        </div>
                                                        @if (@item.DeliveryRemarks != null)
                                                        {
                                                            <div class="remarks">
                                                                @item.DeliveryRemarks
                                                            </div>
                                                        }
                                                    }
                                                    @if (@item.Status == OrderStatus.DRIVER_CANCELLED)
                                                    {
                                                        <div class="cancelled-date">
                                                            @item.CancelledAt.Value.ToString("dd/MM/yyyy HH:mm")
                                                        </div>
                                                        @if (@item.CancelledRemarks != null)
                                                        {
                                                            <div class="remarks">
                                                                @item.CancelledRemarks
                                                            </div>
                                                        }
                                                    }
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script>
    $(document).ready(function () {
        $("#BirthDate").datetimepicker({ format: "DD/MM/YYYY" });
    })
</script>