﻿@model EasyGasAdminWebsite.Models.Distributor
@addTagHelper *, EasyGasAdminWebsite
@{
    ViewData["Title"] = ViewBag.source + " Distributor";
    EasyGasAdminWebsite.Models.ApiValidationErrors responseMsg = ViewBag.responseMsg;
}
<style>
</style>
<div class="content-wrapper">
    <section class="content-header">
        <h1>@ViewData["Title"]</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "Distributors")"><i class="fa fa-dashboard"></i>Distributors</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div id="create-order-box" class="box box-danger">
                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div id="create-order" class="row">
                                <div class="col-md-12">
                                    @Html.ValidationSummary()
                                    @if (responseMsg.Err.Length > 0)
                                    {
                                        <div class="validation-summary-errors alert alert-danger-light">
                                            <p>Please correct the following errors</p>
                                            <ul class="validation-summary-errors">
                                                @foreach (string err in responseMsg.Err)
                                                {
                                                    <li>@err</li>
                                                }
                                            </ul>
                                        </div>
                                    }

                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => model.UserProfile.UserId, new { @id = "userId" })
                                    @Html.HiddenFor(model => model.UserProfile.Gender)
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="UserProfile.FirstName" class="control-label"></label>
                                                @Html.EditorFor(model => model.UserProfile.FirstName, new { htmlAttributes = new { @class = "form-control UserSearch" } })
                                                @Html.ValidationMessageFor(model => model.UserProfile.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="UserProfile.LastName" class="control-label"></label>
                                                @Html.EditorFor(model => model.UserProfile.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.UserProfile.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="UserProfile.Mobile" class="control-label"></label>
                                                @Html.EditorFor(model => model.UserProfile.Mobile, new { htmlAttributes = new { @class = "form-control UserSearch" } })
                                                @Html.ValidationMessageFor(model => model.UserProfile.Mobile, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="UserProfile.Email" class="control-label"></label>
                                                @Html.EditorFor(model => model.UserProfile.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.UserProfile.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div id="new-addr-form" class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.HiddenFor(p => p.Address.UserAddressId)
                                                        <label asp-for="Address.Location" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.Location, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.Location, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.Lat" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.Lat, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.Lat, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.Lng" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.Lng, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.Lng, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.BuildingNo" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.BuildingNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.BuildingNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.StreetNo" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.StreetNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.StreetNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.Landmark" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.Landmark, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.Landmark, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.District" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.District, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.District, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.State" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.State, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.State, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.PinCode" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.PinCode, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.PinCode, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Address.PhoneAlternate" class="control-label"></label>
                                                        @Html.EditorFor(model => model.Address.PhoneAlternate, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address.PhoneAlternate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    @if (ViewBag.source == "Edit")
                                    {
                                        <button class="btn btn-primary btn-lg" name="submitButton" style="margin-right: 10px;">Save</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary btn-lg" name="submitButton" value="1" style="margin-right: 10px;">Create</button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>

