﻿
@{
    ViewData["Title"] = "Distributors";
    List<Distributor> list = ViewBag.distributorList;
}

<div class="content-wrapper">
    @*<section class="content-header">
            <h1>@ViewData["Title"]</h1>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Home", "Index")"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">@ViewData["Title"]</li>
            </ol>
        </section>*@
    <section class="content">
        <div class="row">
            <div class="col-xs-8">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Distributors <a href="@Url.Action("Create")" style="margin-left: 10px;" class="btn btn-primary btn-sm"><i class="fa fa-plus" style="margin-right:5px;"></i> Create New</a></h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="distributorsList" class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>S No</th>
                                            <th>Name</th>
                                            <th>Mobile</th>
                                            <th>Email</th>
                                            <th>Address</th>
                                            <th></th>
                                            @*<th>Birth Date</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in list)
                                        {

                                            <tr data-distributor_id="@item.UserProfile.UserId">
                                                <td></td>
                                                <td>@item.UserProfile.FirstName &nbsp; @item.UserProfile.LastName </td>
                                                <td>@item.UserProfile.Mobile</td>
                                                <td>@item.UserProfile.Email</td>
                                                <td>@item.Address.GetCompleteAddress()</td>                                
                                                <td>
                                                    <a class="btn btn-primary" href="@Url.Action("Edit", "Distributors", new {id = item.UserProfile.UserId })">Edit</a>
                                                </td>
                                                @*<td>@item.UserAndProfile.BirthDate.Value.ToString("dd/MM/yyyy")</td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    var customerDataTable = $("#distributorsList").DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        'autoWidth': true,
        //'columnDefs': [{ orderable: false, targets: [-1, -2] }],
        'language': {
            'emptyTable': 'No distributors found.'
        },
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $("td:first", nRow).html(iDisplayIndex + 1);
            return nRow;
        },
    })


</script>
