﻿

@model EasyGasAdminWebsite.Models.UserAndProfileModel
@addTagHelper *, EasyGasAdminWebsite
@{
    ViewData["Title"] = ViewBag.source + " Reports";
    EasyGasAdminWebsite.Models.ApiValidationErrors responseMsg = ViewBag.responseMsg;

}


<style>

</style>
<div class="content-wrapper">
    <section class="content-header">
        <h1>@ViewData["Title"]</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "Report")"><i class="fa fa-dashboard"></i>Reports</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>
    <section class="content">

        <div class="row">

            <a href="@Url.Action("TruckwiseReport", "Report")">

                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-orange">
                        <div class="inner">
                            <h4 style="text-align:center">Truckwise Report</h4>
                        </div>

                    </div>
                </div>


            </a>

            <a href="@Url.Action("DatewiseReport", "Report")">

                <div class="col-lg-3 col-xs-6">

                    <div class="small-box bg-blue">
                        <div class="inner">
                            <h4 style="text-align:center">Datewise Report</h4>
                        </div>

                    </div>
                </div>
            </a>

        </div>

    </section>

</div>







</div>




