﻿

@model EasyGasAdminWebsite.Models.UserAndProfileModel
@addTagHelper *, EasyGasAdminWebsite
@{
    ViewData["Title"] = ViewBag.source + " Truckwise Report";
    EasyGasAdminWebsite.Models.ApiValidationErrors responseMsg = ViewBag.responseMsg;
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>@ViewData["Title"]</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "Report")"><i class="fa fa-dashboard"></i>Reports</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>
    <!-- Main content -->


    <section class="content">
        <div class="box box-danger">
            <div class="box-header with-border">

                <div class="row">
                    <div class="col-md-12">
                        <div style="float:left;">
                            <select style="width:100px;height:34px;">
                                <option value="Today">Today</option>
                                <option value="Yesterday">Yesterday</option>
                                <option value="This week">This week</option>
                                <option value="This month">This month</option>
                                <option value="customdate">Custom</option>
                            </select>

                        </div>
                        
                            
                        <div class="form-group customdatecontainer" style="display: none; float:left; padding-left:25px">
                            <div style="width: 200px;">
                                <div class='input-group date' >
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    <input type='text' class="form-control form-group" id='datetimepicker1' />

                                </div>

                            </div>
                        </div>
                        
                        <div class="input-group-addon customdatecontainer" style="width:30px; border-left: none; border-right: none; padding : 9px; background: #efefef;display: none; float:left;">
                            to
                        </div>
                        
                    
                        <div class="form-group customdatecontainer" style="display: none; float:left;">
                            <div class="" style="width: 160px; ">
                                <div class='input-group date ' >
                                    <input type='text' class="form-control " id='datetimepicker2' />

                                </div>

                            </div>
                        </div>

                        <button type="button" id="submit" class="btn btn-primary customdatecontainer" style="float:left; width:75px;">Filter</button>

                    </div>
                </div>

            </div>
            <div class="box-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- interactive chart -->

                            <div class="card card-primary ">
                                <div class="card-body">
                                    @*
                                        <div class="row">
                                            <div class="col-md-2">
                                                <select style="width:100px;height:30px">
                                                    <option value="Today">Today</option>
                                                    <option value="Yesterday">Yesterday</option>
                                                    <option value="This week">This week</option>
                                                    <option value="This month">This month</option>
                                                    <option value="customdate">Custom</option>
                                                </select>

                                            </div>

                                            <div class="col-md-3 customdatecontainer" style="display: none">
                                                <div class="form-group" style="width: 200px;">
                                                    <div class='input-group date' id='datetimepicker1'>
                                                        <input type='text' class="form-control form-group" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-3 customdatecontainer" style="display: none">
                                                <div class="form-group" style="width: 200px; ">
                                                    <div class='input-group date' id='datetimepicker2'>
                                                        <input type='text' class="form-control"/>
                                                        <span class="input-group-addon" >
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>


                                            <button type="button" id="submit" class="btn btn-primary customdatecontainer">Submit</button>

                                        </div>

                                    *@
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="interactive" style="height: 500px; "></div>

                                        </div>
                                    </div>

                                    <table id="datatable" class="table table-striped table-bordered">
                                        <thead>
                                            <tr><td></td></tr>
                                        </thead>
                                        <tbody>
                                            <tr><td>No Record Found</td></tr>
                                        </tbody>


                                    </table>
                                    <button onclick="exportTableToExcel('datatable')">Export Table Data To Excel File</button>




                                </div>


                            </div>
                            <!-- /.card -->

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                </div>
            </div>
        </div>
    </section>

</div>


@*
    @{
        ViewBag.Title = "Notification";
        Layout = "~/Views/Shared/_LayoutReports.cshtml";
    }  *@






<!-- /.content -->
<!-- /.content-wrapper -->


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>



<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    *@

<script>$(function () {




       let datatable = $('#datatable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });


        // <!-- Delivered orders vs missed -->

        $(".customdatecontainer").hide();

        google.charts.load('current', { 'packages': ['bar', 'corechart'] });
        $('#datetimepicker1').datetimepicker({
            format: 'DD/MM/YYYY'
        });

        $('#datetimepicker2').datetimepicker({
            format: 'DD/MM/YYYY'
        });

        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
       





        var request_dates = {
            fromDate: moment().format('DD-MM-YYYY'),
            toDate: moment().format('DD-MM-YYYY')

        };

        requestdataforgraph(request_dates);
        //console.log(request_dates);



        $('select').on('change', function () {
            //alert(this.value);

            //var value = this.value;
            //console.log(value);
            var currentDate = moment().format('DD-MM-YYYY');
            //var fromDate, toDate;

            //console.log(time);



            switch (this.value) {


                case "Today":
                    request_dates.fromDate = moment().format('DD-MM-YYYY')
                    request_dates.toDate = moment().format('DD-MM-YYYY')
                    $(".customdatecontainer").hide();
                    requestdataforgraph(request_dates);

                    console.log("From Date:", request_dates.fromDate);
                    console.log("To Date:", request_dates.toDate);
                    break;
                case "Yesterday":
                    request_dates.fromDate = moment().subtract(1, 'day').format('DD-MM-YYYY');
                    request_dates.toDate = currentDate;
                    $(".customdatecontainer").hide();
                    requestdataforgraph(request_dates);


                    console.log("From Date:", request_dates.fromDate);
                    console.log("To Date:", request_dates.toDate);
                    break;
                case "This week":
                    request_dates.fromDate = moment().startOf('week').add(1, 'day').format('DD-MM-YYYY');
                    request_dates.toDate = currentDate;
                    $(".customdatecontainer").hide();
                    requestdataforgraph(request_dates);


                    console.log("From Date:", request_dates.fromDate);
                    console.log("To Date:", request_dates.toDate);
                    break;
                case "This month":
                    request_dates.fromDate = moment().startOf('month').format('DD-MM-YYYY');
                    request_dates.toDate = currentDate;
                    $(".customdatecontainer").hide();
                    requestdataforgraph(request_dates);


                    console.log("From Date:", request_dates.fromDate);
                    console.log("To Date:", request_dates.toDate);
                    break;
                case "customdate":
                    $(".customdatecontainer").show();
                // alert("hello");




                default:

                // code block
            }


        });



        $("#submit").on('click', function () {

            let fromdatemoment = moment($("#datetimepicker1").val(), 'DD/MM/YYYY').format('DD-MM-YYYY');
            let todatemoment = moment($("#datetimepicker2").val(), 'DD/MM/YYYY').format('DD-MM-YYYY');
            console.log(fromdatemoment);
            console.log(todatemoment);
            console.log(request_dates);


            request_dates.fromDate = fromdatemoment;
            request_dates.toDate = todatemoment;
            console.log(request_dates);
            
            requestdataforgraph(request_dates);

        });


        function drawVisualizationofapi(datafromapi, apidata_array) {


            // console.log(j);


            //function PopulateData(j)

            for (var i in datafromapi) {
                var array = [datafromapi[i].driverName, datafromapi[i].ordersDelivered, datafromapi[i].ordersMissed, datafromapi[i].travelledMeters / 1000, datafromapi[i].activeTimeInMin / 60];
                //console.log(array);

                apidata_array.push(array);
            }

            // Some raw data (not necessarily accurate)
            var data = google.visualization.arrayToDataTable(apidata_array);

            console.log(apidata_array);
            var options = {
                title: 'Key Metrics Tracker',
                'width': 1140,
                'height': 500,
                colors: ['#e00032', '#b9b9b9', 'black', '#87CEFA'],

                series: {
                    2: { targetAxisIndex: 0, visibleInLegend: true, pointVisible: true, type: 'line' },
                    3: { targetAxisIndex: 1, visibleInLegend: true, pointVisible: true, type: 'steppedArea' }
                },

                vAxes: {
                    // Adds titles to each axis.
                    0: {
                        title: 'Distance Travelled in Km',
                        titleTextStyle: {
                            color: 'black',
                            bold: true
                        },
                    },
                    1: {
                        title: 'Average Time Spent in Hrs',
                        titleTextStyle: {
                            color: '#87CEFA',
                            bold: true
                        },
                    }
                },


                hAxis: {
                    title: 'Truck Driver',
                    titleTextStyle: {
                        color: 'red',
                        bold: true
                    },
                    gridlines: {
                        color: 'black'
                    },

                    textStyle: {
                        color: 'black',
                        bold: true
                    }
                    // ticks: ['abc','ghghg', 'xyz', 'dfg', 'trf']

                },

                seriesType: 'bars'

            };

            var chart = new google.visualization.ComboChart(document.getElementById('interactive'));
            //previously Allmetrics
            chart.draw(data, options);
        }


        function requestdataforgraph(request_dates) {


            $.ajax({
                url: "http://easygas1.westindia.cloudapp.azure.com:92/api/Reports/GetDriverSummary?tenantId=1&branchId=1",
                data: request_dates,
                dataType: "json",
                success: function (result) {


                    var datafromapi = result;

                    //console.log(datafromapi);

                    var apidata_array = [['Driver Name', 'Orders Delivered', 'Orders  Missed', 'Distance Travelled( in Km)', 'Average Time Spent(in Hrs)']];

                    //for (let i = 1; i < Object.keys(datafromapi).length; i++) {

                    //    apidata_array[i][5] = '#b9b9b9';
                    //}

                    //for (let i = 1; i < Object.keys(datafromapi).length; i++) {

                    //    apidata_array[i][6] = datafromapi.ordersDelivered;
                    //}


                    google.charts.setOnLoadCallback(drawVisualizationofapi(datafromapi, apidata_array));

                    // Populating the data table

                    //console.log(apidata_array);

                    var theadings = '<tr>';

                    $.each(apidata_array[0], function (i, item) {

                        theadings += '<th><b><u>' + apidata_array[0][i] + '</u></b></th>';
                    });

                    theadings += '</tr>'

                    //console.log(theadings);

                    var trHTML = '';

                    $.each(datafromapi, function (i, item) {

                        trHTML += '<tr><td>' + datafromapi[i].driverName + '</td><td>' + datafromapi[i].ordersDelivered + '</td><td>' + datafromapi[i].ordersMissed + '</td><td>' + datafromapi[i].travelledMeters / 1000 + '</td><td>' + datafromapi[i].activeTimeInMin / 60 + '</td></tr>';
                        //console.log(trHTML);
                    });

                    $('#datatable thead').html('');
                    $('#datatable thead').append(theadings);
                    $('#datatable tbody').html('');

                    $('#datatable tbody').append(trHTML);

                    // datatable.draw();


                }

            });




        }

    });




    function exportTableToExcel(datatable, filename = '') {
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(datatable);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

        // Specify file name
        filename = filename ? filename + '.xlsx' : 'excel_data.xlsx';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }








      // Data Table code</script>

<script type="text/javascript" src="https://www.google.com/jsapi?autoload=
{'modules':[{'name':'visualization','version':'1.1','packages':
['corechart']}]}"></script>






