﻿@{
    IList<DashboardItem> ItemsType1 = ViewBag.dashboardItemsType1;
    IList<DashboardItem> ItemsType2 = ViewBag.dashboardItemsType2;
    List<EasyGasAdminWebsite.Models.OrderModel> ordersList = ViewBag.ordersList;
    ViewBag.Title = "Dashboard";
}

<style>
    #locations-updatetime {
        font-weight: bold;
    }

    #update-locations i {
        margin-right: 5px;
    }
    .customerName, .vehicleName {
        font-weight: 700;
        cursor: pointer;
    }
    .customer-marker i {
        margin-right: 10px;
    }

    .customer-marker h5 {
        font-size: 16px;
    }
    #orderList_wrapper {
        overflow-x: auto;
    }

    #orderList .actions .btn {
        margin-bottom: 8px;
    }

    #orderList .delivered-date, #orderList .cancelled-date {
        margin-top: 5px;
    }

    #orderList .status .label {
        font-size: 100%;
        color: #fff;
        background: #999999;
    }

        #orderList .status .label.DELIVERED {
            background: #409b71;
        }

        #orderList .status .label.VEHICLE_ASSIGNED {
            background: #00acd6;
        }

        #orderList .status .label.DRIVER_CANCELLED {
            background: #ce3f2c;
        }

    .marker[data-category="inactive"] img { opacity: .5; }
    .marker[data-category="inactive"] .pulse, .marker[data-category="break"] .pulse  { opacity: 0; }
    .marker img { margin-left: -10px; margin-top: -5px; width: 30px;}
    .pulse {
        position: absolute;
        transform: rotateX(55deg);
    }

        .pulse::after {
            display: block;
            width: 20px;
            height: 20px;
            content: '';
            animation: pulsate 1s ease-out;
            animation-delay: 1.1s;
            animation-iteration-count: infinite;
            opacity: 0;
            border-radius: 50%;
            box-shadow: 0 0 10px 6px rgb(22, 149, 114);
        }

    @@keyframes pulsate {
        0% {
            transform: scale(.1, .1);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: scale(2.2, 2.2);
            opacity: 0;
        }
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> Dashboard <small></small> </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            @foreach (var val in ItemsType1)
            {
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box @val.boxClass">
                        <div class="inner">
                            <h3>@val.count</h3>
                            <p>@val.title</p>
                        </div>
                        <div class="icon"> <i class="fa @val.icon"></i> </div>
                        <a href="@val.url" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            @foreach (var val2 in ItemsType2)
            {
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="info-box">
                        <span class="info-box-icon @val2.boxClass"><i class="fa @val2.icon"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">@val2.title</span>
                            <span class="info-box-number">@val2.count</span>
                        </div>
                        <a href="@val2.url" class="small-box-footer" style="margin-left:10px;">More info <i class="fa fa-arrow-circle-right"></i></a>
                        <!-- /.info-box-content -->
                    </div>
                </div>
            }
        </div>
        <!--
    <div class="row dashboard_btns_top">
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default whitebox_med">
                <div class="panel-body easypiechart-panel">
                    <h4>CUSTOMER</h4>
                    <a style="margin-bottom:5px" href="#" class="btn btn-primary bt_style">More</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default whitebox_med">
                <div class="panel-body easypiechart-panel">
                    <h4>VEHICLE</h4>
                    <a style="margin-bottom:5px" href="#" class="btn btn-primary bt_style">More</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default whitebox_med">
                <div class="panel-body easypiechart-panel">
                    <h4>DELIVERY</h4>
                    <a style="margin-bottom:5px" href="~/Delivery/Index" class="btn btn-primary bt_style">More</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default whitebox_med">
                <div class="panel-body easypiechart-panel">
                    <h4>REPORTS</h4>
                    <a style="margin-bottom:5px" href="#" class="btn btn-primary bt_style">More</a>
                </div>
            </div>
        </div>
    </div>
        -->
        <!-- /.row -->
        <!-- Main row -->

        <div class="row">
            <div class="col-md-12">
                <!-- MAP & BOX PANE -->
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Orders Today <a href="@Url.Action("Create", "Orders")" style="margin-left: 10px;" class="btn btn-primary btn-sm"><i class="fa fa-plus" style="margin-right:5px;"></i> Create New</a></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="orderList" class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>S No</th>
                                            <th>Id</th>
                                            <th>Customer</th>
                                            <th>Mobile</th>
                                            <th>Address</th>
                                            <th>Quantity</th>
                                            <th>Type</th>
                                            <th>Delivery Date</th>
                                            <th>Delivery Slot</th>
                                            <th>Vehicle Assigned</th>
                                            <th>Delivery Planned At</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ordersList)
                                        {

                                        <tr data-order_id="@item.Id">
                                            @{
                                                String address = "";
                                                if (!String.IsNullOrEmpty(item.Address.BuildingNo))
                                                {
                                                    address = item.Address.BuildingNo;
                                                }
                                                else
                                                {
                                                    address = item.Address.Location;
                                                }
                                            }
                                            <td></td>
                                            <td>@item.Code</td>
                                            <td>
                                                <a class="customerName" data-customer_name="@item.UserFullName" data-customer_loc="@address"
                                                   data-order_id="@item.Id" data-lat="@item.Address.Lat" data-lng="@item.Address.Lng" data-vehicle_assigned="@item.VehicleRegNo">@item.UserFullName</a>
                                            </td>
                                            <td class="mobile"><i class="fa fa-phone" style="margin-right: 8px;"></i>@item.UserMobile</td>
                                            <td>
                                                @address
                                            </td>
                                            <td>@item.Quantity</td>
                                            <td>@item.Type</td>
                                            <td class="deliveryDate">@item.DeliveryDate.ToString("dd/MM/yyyy")</td>
                                            <td class="deliverySlot">
                                                @if (item.DeliverySlotId == 7)
                                                {
                                                    @:ASAP
                                                }
                                                else
                                                {
                                                    @item.DeliveryFrom.ToString("HH:mm")
                                                    @:-
                                                    @item.DeliveryTo.ToString("HH:mm")
                                                }
                                            </td>
                                            <td class="vehicle">
                                                @if (@item.VehicleId == null)
                                                {
                                                @:-
                                                }
                                                else
                                                {
                                                <a class="vehicleName" data-vehicle_id="@item.VehicleId">@item.VehicleRegNo</a>
                                                }
                                            </td>
                                            <td class="plannedDeliveryFrom">
                                                @if (@item.PlannedDeliveryFrom != null)
                                                {
                                                @item.PlannedDeliveryFrom.Value.ToString("dd/MM/yyyy HH:mm")
                                                }
                                                else
                                                {
                                                @:-
                                                }
                                            </td>
                                            <td class="status @item.Status">
                                                <label class="label label-default @item.Status">@item.StatusName</label>
                                                @if (@item.Status == OrderStatus.DELIVERED)
                                                {
                                                <div class="delivered-date">
                                                    @item.DeliveredAt.Value.ToString("dd/MM/yyyy HH:mm")
                                                </div>
                                                @if (@item.DeliveryRemarks != null)
                                                    {
                                                <div class="remarks">
                                                    @item.DeliveryRemarks
                                                </div>
                                                    }
                                                }
                                                @if (@item.Status == OrderStatus.DRIVER_CANCELLED)
                                                {
                                                <div class="cancelled-date">
                                                    @item.CancelledAt.Value.ToString("dd/MM/yyyy HH:mm")
                                                </div>
                                                @if (@item.CancelledRemarks != null)
                                                    {
                                                <div class="remarks">
                                                    @item.CancelledRemarks
                                                </div>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @*
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Delivered Customers Report</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body no-padding">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-8">
                                                <div class="pad">
                                                    <!-- Map will be created here -->
                                                    <div id="world-map-markers" style="height: 325px;"></div>
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-md-3 col-sm-4">
                                                <div class="pad box-pane-right bg-green" style="min-height: 280px">
                                                    <div class="description-block margin-bottom">
                                                        <h5 class="description-header">36</h5>
                                                        <span class="description-text">Deliveries</span>
                                                    </div>
                                                    <!-- /.description-block -->

                                                    <div class="description-block margin-bottom">
                                                        <h5 class="description-header">158</h5>
                                                        <span class="description-text">Capacity Delivered</span>
                                                    </div>
                                                    <div class="description-block margin-bottom">
                                                        <h5 class="description-header">2647 KMs</h5>
                                                        <span class="description-text">Distance Travelled</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                    <div class="description-block margin-bottom">
                                                        <h5 class="description-header">22 HRS</h5>
                                                        <span class="description-text">Time</span>
                                                    </div>
                                                    <div class="description-block margin-bottom">
                                                        <h5 class="description-header">RS.288372</h5>
                                                        <span class="description-text">Cost</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Latest Notifications</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Time</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var val in notificationList)
                                                    {

                                                        <tr>
                                                            <td><a href="@Url.Action("Details", "Notifications", new { id = val.ID })">@val.EventName </a></td>
                                                            <td>@val.EventTime</td>
                                                            <td>
                                                                @if (val.Status == 1)
                                                                {
                                                                    <span class="label label-success">Fixed</span>
                                                                }
                                                                else if (val.Status == 2)
                                                                {
                                                                    <span class="label label-danger">Failed</span>
                                                                }
                                                                else if (val.Status == 3)
                                                                {
                                                                    <span class="label label-warning">Pending</span>
                                                                }
                                                                else if (val.Status == 4)
                                                                {
                                                                    <span class="label label-info">Progress</span>

                                                                }

                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer clearfix">
                                        <a href="@Url.Action("Details","Notifications")" class="btn btn-sm btn-default btn-flat pull-right">View All Notifications</a>
                                    </div>
                                    <!-- /.box-footer -->
                                </div>
                                *@

                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Realtime Vehicle Tracking <span id="locations-update-info" style="font-size: 12px; margin-left:10px;"></span></h3>

                                        <div class="box-tools pull-right">
                                            <a id="update-locations" class="btn btn-info"><i class="fa fa-truck"></i> Update Vehicle Locations</a>
                                            @*<button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div id="map" style="height: 400px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                @*
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Capacity Delivered</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="chart-responsive">
                                                    <canvas id="pieChart" height="150"></canvas>
                                                </div>
                                                <!-- ./chart-responsive -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-md-4">
                                                <ul class="chart-legend clearfix">
                                                    <li><i class="fa fa-circle-o text-red"></i> Aee Bee</li>
                                                    <li><i class="fa fa-circle-o text-green"></i> Arttek</li>
                                                    <li><i class="fa fa-circle-o text-yellow"></i> B M Energy</li>
                                                    <li><i class="fa fa-circle-o text-aqua"></i> Dars Automobiles</li>
                                                    <li><i class="fa fa-circle-o text-light-blue"></i> Esskay</li>
                                                    <li><i class="fa fa-circle-o text-gray"></i> R R Fuel Station</li>
                                                </ul>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer no-padding">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li>
                                                <a href="#">
                                                    Methane
                                                    <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 12%</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">Propane <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.footer -->
                                </div>
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Latest News</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <ul class="products-list product-list-in-box">
                                            <li class="item">
                                                <div class="product-img">
                                                    <img src="/dist/img/news1.jpg" alt="Product Image">
                                                </div>
                                                <div class="product-info">
                                                    <a href="javascript:void(0)" class="product-title">
                                                        Harthal in Kerala
                            
                                    </a>
                                                    <span class="product-description">
                                                        <span class=""><i class="fa fa-clock-o"></i> 08 Apr, 2019</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <!-- /.item -->
                                            <li class="item">
                                                <div class="product-img">
                                                    <img src="/dist/img/news2.jpg" alt="Product Image">
                                                </div>
                                                <div class="product-info">
                                                    <a href="javascript:void(0)" class="product-title">
                                                        Oil price benchmarks are defying the laws of supply and demand
                                                    </a>
                                                    <span class="product-description">
                                                        <span class=""><i class="fa fa-clock-o"></i> 06 Apr, 2019</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <!-- /.item -->
                                            <li class="item">
                                                <div class="product-img">
                                                    <img src="/dist/img/news3.jpg" alt="Product Image">
                                                </div>
                                                <div class="product-info">
                                                    <a href="javascript:void(0)" class="product-title">
                                                        Brent crude oil tops $70 for first time since November as supply tightens
                                                    </a>
                                                    <span class="product-description">
                                                        <span class=""><i class="fa fa-clock-o"></i> 04 Apr, 2019</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <!-- /.item -->
                                            <li class="item">
                                                <div class="product-img">
                                                    <img src="/dist/img/news4.jpg" alt="Product Image">
                                                </div>
                                                <div class="product-info">
                                                    <a href="javascript:void(0)" class="product-title">
                                                        Value Of U.S. Oil & Gas M&A Deal Sinks To 10-Year Low In Q1
                                                    </a>
                                                    <span class="product-description">
                                                        <span class=""><i class="fa fa-clock-o"></i> 03 Apr, 2019</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="product-img">
                                                    <img src="/dist/img/news5.jpg" alt="Product Image">
                                                </div>
                                                <div class="product-info">
                                                    <a href="javascript:void(0)" class="product-title">
                                                        India raises natural gas price for April-September by about 10% to $3.69 per million
                                                    </a>
                                                    <span class="product-description">
                                                        <span class=""><i class="fa fa-clock-o"></i> 02 Apr, 2019</span>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer text-center">
                                        <a href="javascript:void(0)" class="uppercase">View All News</a>
                                    </div>
                                    <!-- /.box-footer -->
                                </div>*@
                            </div>
                        </div>
                        <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.googleMapsApiKey"></script>
<script>
    var vehDataTable = $("#orderList").DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        'autoWidth': true,
        //'columnDefs': [{ orderable: false, targets: [-1, -2] }],
        'language': {
            'emptyTable': 'No orders found.'
        },
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $("td:first", nRow).html(iDisplayIndex + 1);
            return nRow;
        },
    })

    var vehList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.vehListDict)); 
    //var vehListDropdownOptions = getVehicleListDropdown(vehList);
    var infoWindow = new google.maps.InfoWindow();
    var VehicleMarkerArray = {};
    var CustomerMarkerArray = [];
    var vehPositions = {};
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: { lat: 13.06, lng: 77.75 }
    });

    GetVehiclePositions();

    function clearCustomerMarkers() {
        for (var i = 0; i < CustomerMarkerArray.length; i++) {
            CustomerMarkerArray[i].setMap(null);
        }
    }

    $(document).on("click", ".customerName", function () {
        let customerDetails = {};
        customerDetails.lat = $(this).data("lat");
        customerDetails.lng = $(this).data("lng");
        customerDetails.name = $(this).data("customer_name");
        customerDetails.orderId = $(this).data("order_id");
        customerDetails.vehicle = $(this).data("vehicle_assigned");
        customerDetails.location = $(this).data("customer_loc");
        customerDetails.mobile = $(this).closest("tr").find(".mobile").html();
        customerDetails.deliveryDate = $(this).closest("tr").find(".deliveryDate").html();
        customerDetails.deliverySlot = $(this).closest("tr").find(".deliverySlot").html();
        customerDetails.plannedDeliveryFrom = $(this).closest("tr").find(".plannedDeliveryFrom").html();
        clearCustomerMarkers();
        createCustomerMarker(customerDetails);
    })

    $(document).on("click", ".vehicleName", function () {
        let vehId = $(this).data("vehicle_id");
        var marker = VehicleMarkerArray[vehId];
        new google.maps.event.trigger(marker, 'click');
    })

    function createCustomerMarker(customerDetails) {
        let contentString = '<div class="customer-marker" id="marker-content">' +
            '<h4><b>' + customerDetails.name + '</b></h4>' +
            '<h5>' + customerDetails.mobile + '</h5>' +
            '<h5><i class="fa fa-home"></i>' + customerDetails.location + '</h5>' +
            '<h5><i class="fa fa-calendar"></i>' + customerDetails.deliveryDate + ' | ' + customerDetails.deliverySlot + '</h5>' +
            '<h5><i class="fa fa-truck"></i> ' + customerDetails.vehicle + ' | ' + customerDetails.plannedDeliveryFrom + '</h5>' +
            '</div>';
        let latlng = new google.maps.LatLng(parseFloat(customerDetails.lat), parseFloat(customerDetails.lng));

        let marker = new google.maps.Marker({
            position: latlng,
            title: customerDetails.name,
            icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
            map: map
        });

        infoWindow.setContent(contentString);
        infoWindow.open(map, marker);

        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.setContent(contentString);
            infoWindow.open(map, marker);
        });

        CustomerMarkerArray.push(marker);
    }

    // -------------------------vehicle locations -------------------------------------------------------------

    $(document).on("click", "#update-locations", function () {
        $("#update-locations").html("<i class='fa fa-circle-o-notch fa-spin'></i> Updating");
        $("#update-locations").addClass("disabled");
        //$('#update-locations').prop('disabled', true);
        GetVehiclePositions();
    })

    function clearVehicleMarkers() {
        $.each(VehicleMarkerArray, function (key, vehMarker) {
            google.maps.event.clearListeners(vehMarker, 'click');
            vehMarker.setMap(null);
            delete VehicleMarkerArray[key];
        })
    }

    function updateVehiclePositions(data) {
        vehPositions = data;
        if (vehPositions != undefined) {
            clearVehicleMarkers();
            setVehicleMarkers(map);
            let now = moment().format("HH:mm:ss");
            //$("#locations-updatetime").val(now.getDate);
            $("#locations-update-info").html("Last Updated At - <span id='locations-updatetime'>" + now + "</span>");
        }
        $("#update-locations").html("<i class='fa fa-truck'></i> Update Vehicle Locations");
        //$('#update-locations').prop('disabled', false);
        $("#update-locations").removeClass("disabled");
    }

     function GetVehiclePositions() {
        $.ajax({
            url: "@Url.Action("GetVehicleLocations", "Orders")",
            method: "GET",
            contentType: "application/json",
            dataType: "json",
            //data: { tenantId: 1 },
            success: function (data) {
                console.log(data);
                updateVehiclePositions(data);
                return true;
            },
            error: function () {
                //Swal.fire({
                //    type: 'error',
                //    title: 'Sorry, some unexpected error has occured. Please try again.',
                //    footer: 'Contact administrator if problem persists.',
                //})
                $("#update-locations").html("<i class='fa fa-truck'></i> Update Vehicle Locations");
                $("#update-locations").removeClass("disabled");
            }
        });
    }

    function setVehicleMarkers(map) {
        VehicleMarkerArray = {};
        let imageUrl = '/images/tank-truck.png';
        let regNo = "";

        $.each(vehPositions, function (key, value) {
            if (vehList[key] != undefined) {
                regNo = vehList[key].RegNo;
                
                let latlng = new google.maps.LatLng(parseFloat(value.lat), parseFloat(value.lng));
                let lastUpdated = value.createdAt;
                let lastUpdatedMoment = moment(lastUpdated).format('DD-MM-YYYY HH:mm');
                let lastLoginActivityMin = value.dlsTimeAgoMin;
                let loginState = "";
                let category = "active";
                if (value.driverLoginState == 0) {
                    loginState = "Active";
                    category = "active";
                }
                else if (value.driverLoginState == 1) {
                    loginState = "Break";
                    category = "break";
                }
                else if (value.driverLoginState == 2) {
                    loginState = "Active";
                    category = "active";
                }
                else if (value.driverLoginState == 3) {
                    loginState = "Logged Off";
                    category = "inactive";
                }

                if (value.locUpdatedTimeAgoMin > 60) //TODO remove hardcode
                {
                    category = "inactive";
                }

                let locUpdatedTimeAgoMin = lastUpdatedMoment;
                if (value.locUpdatedTimeAgoMin < 3600) {
                    locUpdatedTimeAgoMin = minToHours(value.locUpdatedTimeAgoMin);
                }
                let contentString = '<div id="marker-content">' +
                    '<h4 id="firstHeading" class="firstHeading"><b>' + regNo + '</b></h4><h4>Location Updated At : <b>' + locUpdatedTimeAgoMin + '</b></h4>' +
                    '<h4 class="firstHeading">State : <b>' + loginState + '</b>';
                if (lastLoginActivityMin > 0) {
                    contentString += ' for ' + lastLoginActivityMin + ' mins</h4>';
                }
                else {
                    contentString += '</h4>';
                }
                contentString += '<div id="bodyContent">' +
                    '</div>' +
                    '</div>';

                let markerOverlay = new CustomMarker(latlng, map, imageUrl, { category: category, type: "vehicle"});
                google.maps.event.addListener(markerOverlay, 'click', function () {
                    infoWindow.setContent(contentString);
                    infoWindow.open(map, markerOverlay);
                });

                VehicleMarkerArray[key] = markerOverlay;
            }
        });
    }

    function CustomMarker(latlng, map, imgUrl, args) {
        this.latlng = latlng;
        this.args = args;
        this.imgUrl = imgUrl;
        this.setMap(map);
    }
    CustomMarker.prototype = new google.maps.OverlayView();
    CustomMarker.prototype.draw = function () {

        var self = this;

        var div = this.div;

        if (!div) {

            div = this.div = document.createElement('div');

            div.className = 'marker';

            div.style.position = 'absolute';
            div.style.cursor = 'pointer';
            div.style.width = '20px';
            div.style.height = '20px';
            //div.style.background = 'blue';
            let innerHtml = "";
            
            if (typeof (self.args.marker_id) !== 'undefined') {
                div.dataset.marker_id = self.args.marker_id;
            }
            if (typeof (self.args.type) !== 'undefined') {
                div.dataset.type = self.args.type;
                if (self.args.type == 'vehicle') {
                    innerHtml += '<div class="pulse"></div>';
                }
            }
            if (typeof (self.args.category) !== 'undefined') {
                div.dataset.category = self.args.category;
            }
            innerHtml += '<img src="' + self.imgUrl + '"/>';
            div.innerHTML = innerHtml;

            google.maps.event.addDomListener(div, "click", function (event) {
                google.maps.event.trigger(self, "click");
            });

            var panes = this.getPanes();
            panes.overlayImage.appendChild(div);
        }

        var point = this.getProjection().fromLatLngToDivPixel(this.latlng);

        if (point) {
            div.style.left = point.x + 'px';
            div.style.top = point.y + 'px';
        }
    };

    CustomMarker.prototype.remove = function () {
        if (this.div) {
            this.div.parentNode.removeChild(this.div);
            this.div = null;
        }
    };

    CustomMarker.prototype.getPosition = function () {
        return this.latlng;
    };

        function minToHours(totalMinutes) {
        var hours = Math.floor(totalMinutes / 60);          
        var minutes = totalMinutes % 60;
        let minString = "";
        if (hours > 0) {
            minString += hours + "hr ";
        }
        if (minutes > 0) {
            minString += minutes + "min";
        }
        return minString + " ago";
    }

    /* old marker
         function setVehicleMarkers(map) {
        VehicleMarkerArray = {};

        let image = {
            url: '/images/tank-truck.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 32)
        };

        let shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };

        let regNo = "";

        $.each(vehPositions, function (key, value) {
            if (vehList[key] != undefined) {
                regNo = vehList[key].RegNo;
                
                let latlng = new google.maps.LatLng(parseFloat(value.lat), parseFloat(value.lng));
                let lastUpdated = value.createdAt;
                let lastUpdatedMoment = moment(lastUpdated).format('DD-MM-YYYY HH:mm');
                let lastLoginActivityMin = value.dlsTimeAgoMin;
                let loginState = "";
                if (value.driverLoginState == 0) {
                    loginState = "Active";
                }
                else if (value.driverLoginState == 1) {
                    loginState = "Break";
                    image.url = "/images/tank-truck.png";
                }
                else if (value.driverLoginState == 2) {
                    loginState = "Active";
                }
                else if (value.driverLoginState == 3) {
                    loginState = "Logged Off";
                    image.url = "/images/tank-truck.png";
                }

                let marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    icon: image,
                    shape: shape,
                    title: regNo,
                });
                let contentString = '<div id="marker-content">' +
                    '<h4 id="firstHeading" class="firstHeading"><b>' + regNo + '</b></h4><h4>Location Updated At : <b>' + lastUpdatedMoment + '</b></h4>' +
                    '<h4 class="firstHeading">State : <b>' + loginState + '</b>';
                if (lastLoginActivityMin > 0) {
                    contentString += ' for ' + lastLoginActivityMin + ' mins</h4>';
                }
                else {
                    contentString += '</h4>';
                }
                contentString += '<div id="bodyContent">' +
                    '</div>' +
                    '</div>';

                google.maps.event.addListener(marker, 'click', function () {
                    infoWindow.setContent(contentString);
                    infoWindow.open(map, marker);
                });

                VehicleMarkerArray[key] = marker;
            }
        });
    }
    */

    // ---------------------------------------------------------------------------------

    // -------------
    // - PIE CHART -
    // -------------
    // Get context with jQuery - using jQuery's .get() method.
    /*
    var pieChartCanvas = $('#pieChart').get(0).getContext('2d');
    var pieChart = new Chart(pieChartCanvas);
    var PieData = [
        {
            value: 700,
            color: '#f56954',
            highlight: '#f56954',
            label: 'Aee Bee'
        },
        {
            value: 500,
            color: '#00a65a',
            highlight: '#00a65a',
            label: 'Arttek'
        },
        {
            value: 400,
            color: '#f39c12',
            highlight: '#f39c12',
            label: 'B M Energy'
        },
        {
            value: 600,
            color: '#00c0ef',
            highlight: '#00c0ef',
            label: 'Dars Automobiles'
        },
        {
            value: 300,
            color: '#3c8dbc',
            highlight: '#3c8dbc',
            label: 'Esskay'
        },
        {
            value: 100,
            color: '#d2d6de',
            highlight: '#d2d6de',
            label: 'R R Fuel Station'
        }
    ];
    var pieOptions = {
        // Boolean - Whether we should show a stroke on each segment
        segmentShowStroke: true,
        // String - The colour of each segment stroke
        segmentStrokeColor: '#fff',
        // Number - The width of each segment stroke
        segmentStrokeWidth: 1,
        // Number - The percentage of the chart that we cut out of the middle
        percentageInnerCutout: 50, // This is 0 for Pie charts
        // Number - Amount of animation steps
        animationSteps: 100,
        // String - Animation easing effect
        animationEasing: 'easeOutBounce',
        // Boolean - Whether we animate the rotation of the Doughnut
        animateRotate: true,
        // Boolean - Whether we animate scaling the Doughnut from the centre
        animateScale: false,
        // Boolean - whether to make the chart responsive to window resizing
        responsive: true,
        // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
        maintainAspectRatio: false,
        // String - A legend template
        legendTemplate: '<ul class=\'<%=name.toLowerCase()%>-legend\'><% for (var i=0; i<segments.length; i++){%><li><span style=\'background-color:<%=segments[i].fillColor%>\'></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>',
        // String - A tooltip template
        tooltipTemplate: '<%=value %> <%=label%>'
    };
    // Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    pieChart.Doughnut(PieData, pieOptions);
  // -----------------
  // - END PIE CHART -
  // -----------------
  */
</script>
