﻿@model EasyGasAdminWebsite.Models.OrderViewModels.IndexViewModel

@{
    ViewData["Title"] = "Orders";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>@ViewData["Title"]</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Home", "Index")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row" style="max-width: 800px;">
                            <div class="col-md-12">
                                <span>Showing @Html.DisplayFor(modelItem => modelItem.PaginationInfo.ItemsPerPage) of @Html.DisplayFor(modelItem => modelItem.PaginationInfo.TotalItems) subscriptions - Page @(Model.PaginationInfo.ActualPage + 1) of @Html.DisplayFor(x => x.PaginationInfo.TotalPages)</span>

                                <div class="margin-middle-top">
                                    <table class="table">
                                        <thead class="thead-default">
                                            <tr>
                                                <th class="u-align-left">Id</th>
                                                <th class="u-align-left">User Name</th>
                                                <th class="u-align-left">Phone</th>
                                                <th class="u-align-center">Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Orders)
                                            {
                                                <tr>
                                                    <td class="u-align-left is-info" scope="row"><span class="u-ellipsis u-width-200">@Html.DisplayFor(modelItem => item.Id)</span></td>
                                                    <td class="u-align-left is-light">@Html.DisplayFor(modelItem => item.UserFullName)</td>
                                                    <td class="u-align-left">@Html.DisplayFor(modelItem => item.UserMobile)</td>
                                                    <td class="u-align-center">@Html.DisplayFor(modelItem => item.Quantity)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <nav>
                                                    <ul class="pagination pagination-sm u-float-left">
                                                        <li class="page-item">
                                                            <a class='page-link prev' id="Previous"
                                                               href="@Url.Action("Index","Subscription", new { page = Model.PaginationInfo.ActualPage - 1 })"
                                                               aria-label="Previous">
                                                                <span class="icon-ico-arrowcopy"></span>
                                                                <span>Previous</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <div class="col-xs-4 u-align-center">Page @(Model.PaginationInfo.ActualPage + 1) of @Html.DisplayFor(x => x.PaginationInfo.TotalPages)</div>
                                            <div class="col-xs-4">
                                                <nav>
                                                    <ul class="pagination pagination-sm u-float-right">
                                                        <li class="page-item">
                                                            <a class='page-link next' id="Next"
                                                               href="@Url.Action("Index","Subscription", new { page = Model.PaginationInfo.ActualPage + 1 })"
                                                               aria-label="Next">
                                                                <span>Next</span>
                                                                <span class="icon-ico-arrow-blue"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    </section>
</div>

