﻿@model EasyGasAdminWebsite.Models.VehicleModel
@addTagHelper *, EasyGasAdminWebsite
@{
    ViewData["Title"] = ViewBag.source + " Vehicle";
    EasyGasAdminWebsite.Models.ApiValidationErrors responseMsg = ViewBag.responseMsg;
    SelectList vehTypeSelList = ViewBag.vehTypeSelList;
    SelectList driverSelList = ViewBag.driverSelList;
    SelectList distributorSelList = ViewBag.distributorSelList;
    List<SelectListItem> statusList = ViewBag.statusList;
}
<style>
   
</style>
<div class="content-wrapper">
    <section class="content-header">
        <h1>@ViewData["Title"]</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "Vehicles")"><i class="fa fa-dashboard"></i> Vehicles</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div id="create-order-box" class="box box-danger">
                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div id="create-order" class="row">
                                <div class="col-md-12">
                                    @if (responseMsg.Err.Length > 0)
                                    {
                                        <div class="validation-summary-errors alert alert-danger-light">
                                            <p>Please correct the following errors</p>
                                            <ul class="validation-summary-errors">
                                                @foreach (string err in responseMsg.Err)
                                                {
                                                    <li>@err</li>
                                                }
                                            </ul>
                                        </div>
                                    }


                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => model.Id, new { @id = "vehId" })

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="RegNo" class="control-label"></label>
                                                @Html.EditorFor(model => model.RegNo, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.RegNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="DistributorId" class="control-label"></label>
                                                <select asp-for="DistributorId" asp-items="@distributorSelList" class="form-control">
                                                    <option value="">Select</option>
                                                </select>
                                                @Html.ValidationMessageFor(model => model.DistributorId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="TypeId" class="control-label"></label>
                                                <select asp-for="TypeId" asp-items="@vehTypeSelList" class="form-control">
                                                    <option value="">Select</option>
                                                </select>
                                                @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="DriverId" class="control-label"></label>
                                                <select asp-for="DriverId" asp-items="@driverSelList" class="form-control">
                                                    <option value="">Select</option>
                                                </select>
                                                @Html.ValidationMessageFor(model => model.DriverId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="DestinationLat" class="control-label"></label>
                                                @Html.EditorFor(model => model.DestinationLat, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DestinationLat, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="DestinationLng" class="control-label"></label>
                                                @Html.EditorFor(model => model.DestinationLng, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DestinationLng, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="IsActive" class="control-label"></label>
                                                <select asp-for="IsActive" asp-items="@statusList" class="form-control">
                                                </select>
                                                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    @if (ViewBag.source == "Edit")
                                    {
                                        <button class="btn btn-primary btn-lg" name="submitButton" value="2" style="margin-right: 10px;">Save</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary btn-lg" name="submitButton" value="1" style="margin-right: 10px;">Save and Create</button>
                                        <button class="btn btn-default btn-lg" name="submitButton" value="2">Save and Exit</button>
                                    }
                                </div>
                            </div>
                        </div>
                     }
                    </div>
            </div>
        </div>
    </section>
</div>


