﻿
@{
    ViewData["Title"] = "Vehicles";
    List<VehicleModel> vehiclesList = ViewBag.vehicleList;
}

<style>
    #filters {
        margin-left: 30px;
        display: inline-block;
    }

    #filters .form-group {
        max-width: 320px;
    }
    .select2-container {
        z-index: 99999 !important;
    }
    .popover .select2-container {
        width: 180px !important;
    }
    .select2-container .select2-selection--single {
        height: 32px;
    }
    .popover {
        max-width: 400px !important;
        min-width: 300px;
    }
    .customerName, .vehicleName { font-weight: 700; cursor: pointer;}
    #locations-updatetime {
        font-weight: bold;
    }

    #update-locations i {
        margin-right: 5px;
    }
</style>
<div class="content-wrapper">
    @*<section class="content-header">
        <h1>@ViewData["Title"]</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Home", "Index")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>*@
    <section class="content">
        <div class="row">
            <div class="col-xs-8">
                <div class="box box-danger">
                    <div class="box-header with-border">
                                <h3 class="box-title">Vehicles <a href="@Url.Action("Create")" style="margin-left: 10px;" class="btn btn-primary btn-sm"><i class="fa fa-plus" style="margin-right:5px;"></i> Create New</a></h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="vehicleList" class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>S No</th>
                                            <th>Reg No</th>
                                            <th>Type</th>
                                            <th>Destination</th>
                                            <th>Driver</th>
                                            <th>Distributor</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (VehicleModel item in vehiclesList)
                                        {
                                        
                                        <tr data-vehicle_id="@item.Id">
                                            <td></td>
                                            <td>@item.RegNo</td>
                                            <td>@item.TypeName</td>
                                            <td>@item.DestinationLat , @item.DestinationLng</td>
                                            <td>@item.DriverName</td>
                                            <td>@item.DistributorName</td>
                                            <td class="status">
                                                @if (item.IsActive)
                                                {
                                                    @:Active
                                                }
                                                else
                                                {
                                                    @:Inactive
                                                }
                                            </td>
                                            <td>
                                                <a class="btn btn-primary" href="@Url.Action("Edit", "Vehicles", new {id = item.Id })">Edit</a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
</div>

<script>
    var orderDataTable = $("#vehicleList").DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        'autoWidth': true,
        'columnDefs': [{ orderable: false, targets: [-1] }],
        'language': {
            'emptyTable': 'No vehicles found.'
        },
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $("td:first", nRow).html(iDisplayIndex + 1);
            return nRow;
        },
    })

   
</script>