﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>@ViewData["Title"]</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Home", "Index")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row" style="max-width: 600px;">
                            <div class="col-md-12">
                                <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
                                    @if (!Html.ViewData.ModelState.IsValid)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-9 col-md-offset-3">
                                                <div asp-validation-summary="All" class="text-danger alert"></div>
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <label asp-for="OldPassword" class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <input asp-for="OldPassword" class="form-control" />
                                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="NewPassword" class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <input asp-for="NewPassword" class="form-control" />
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword" class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <input asp-for="ConfirmPassword" class="form-control" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-primary btn-lg">Change Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>