﻿@model IndexViewModel
@{
    ViewData["Title"] = "My Profile";
    ApplicationUser User = ViewBag.User;
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>@ViewData["Title"]</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Home", "Index")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row" style="max-width: 600px;">
                            <div class="col-md-12">
                                <p class="text-success">@ViewData["StatusMessage"]</p>
                                <dl class="dl-horizontal">
                                    <dt>Name</dt>
                                    <dd>@User.Name</dd>
                                    <dt>Password:</dt>
                                    <dd>
                                        @if (Model.HasPassword)
                                        {
                                            <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed btn btn-primary">Change</a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
                                        }
                                    </dd>
                                    <dt>Phone</dt>
                                    <dd>@User.PhoneNumber</dd>
                                    <dt>Email</dt>
                                    <dd>@User.Email</dd>
                                    @*
        <dt>External Logins:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
        </dd>
        <dt>Phone Number:</dt>
        <dd>
            <p>
                Phone Numbers can used as a second factor of verification in two-factor authentication.
                See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
            </p> *@
                                    @*@(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
        {
            <br />
            <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Change</a>
            <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                [<button type="submit" class="btn-link">Remove</button>]
            </form>
        }
        else
        {
            <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Add</a>
        }*@@*
        </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for setting up this application to support two-factor authentication.
            </p>*@
                                @*@if (Model.TwoFactor)
    {
        <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
            Enabled <button type="submit" class="btn-link btn-bracketed">Disable</button>
        </form>
    }
    else
    {
        <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
            <button type="submit" class="btn-link btn-bracketed">Enable</button> Disabled
        </form>
    }*@@*
    </dd>*@
                                </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
     </section>
</div>