﻿@using EasyGasAdminWebsite.Data;
@{
    //string userFullName = "admin";
    string userFullName = this.User.Identity.Name;
    //ApplicationDbContext db = new ApplicationDbContext();
    //ApplicationUser user = db.Users.Where(p => p.UserName == userName).First();
    //if (user != null)
    {
        //  userFullName = user.Name;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | EasyGas</title>
    <link rel="shortcut icon" type="image/png" href="~/images/favicon.ico" />

    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- /.content-wrapper -->
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/css/skins/skin-red-light.css">
    <link rel="stylesheet" href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/plugins/select2/select2.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/plugins/datatables/dataTables.bootstrap.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- ./wrapper -->
    <!-- jQuery 2.2.3 -->
    <script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/js/jquey.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <!-- Bootstrap 3.3.6 -->
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/chartjs/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="~/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <script src="~/plugins/select2/select2.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/js/app.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script type='text/javascript'>
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
            var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;)r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: '582031a5-12e9-4da1-9545-c839e942f236'
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body class="hold-transition skin-red-light sidebar-mini">
    <div id="overlay"></div>
    <div id="loader" style="display: none;">
        <div class="loader"></div>
        <div id="comments"></div>
    </div>
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="~/images/logo_total_small.png" /></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="~/images/logo_total.png" /></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
                <span style="color: #fff; font-size: 20px; margin-left: 30px; margin-top:10px; display:inline-block">
                    @*@{ Html.RenderAction("getActiveTenantName", "DashQs"); }*@
                </span>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @*
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-flag-o"></i> <span class="label label-danger">9</span> </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3> Design some buttons <small class="pull-right">20%</small> </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only">20% Complete</span> </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3> Create a nice theme <small class="pull-right">40%</small> </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only">40% Complete</span> </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3> Some task I need to do <small class="pull-right">60%</small> </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only">60% Complete</span> </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3> Make beautiful transitions <small class="pull-right">80%</small> </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only">80% Complete</span> </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer"> <a href="#">View all tasks</a> </li>
                            </ul>
                        </li>
                        *@
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/images/user6-128x128.jpg" class="user-image" alt="User Image"> <span class="hidden-xs">@userFullName</span> </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="~/images/user6-128x128.jpg" class="img-circle" alt="User Image">
                                    <p> @userFullName </p>
                                </li>
                                <li class="user-footer">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="pull-left"> <a href="#" class="btn btn-default btn-flat">Profile</a> </div>
                                        <div class="pull-right"> <a href="@Url.Action("LogOut", "Account")" class="btn btn-default btn-flat">Log Out</a> </div>
                                    }
                                    else
                                    {
                                        <div class="pull-right"> <a href="@Url.Action("LogIn", "Account")" class="btn btn-default btn-flat">Log In</a> </div>

                                    }
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li style="display:none;"> <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a> </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image"> <img src="~/images/user6-128x128.jpg" class="img-circle" alt="User Image"> </div>
                    <div class="pull-left info">
                        <p>@userFullName</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i> </button>
                        </span>
                    </div>
                </form>
                <ul class="sidebar-menu">
                    <!--<li class="header">MAIN NAVIGATION</li>-->
                    <li class="treeview"> <a href="@Url.Action("Index", "Home")"> <i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                    <li class="treeview"> <a href="@Url.Action("Index", "Customers")"> <i class="fa fa-user"></i> <span>Customers</span></a></li>
                    <li class="treeview"> <a href="@Url.Action("Index", "Orders")"> <i class="fa fa-list"></i> <span>Orders</span></a></li>
                    <li class="treeview"> <a href="@Url.Action("Index", "Vehicles")"> <i class="fa fa-truck"></i> <span>Vehicles</span></a></li>
                    <li class="treeview"> <a href="@Url.Action("Index", "Drivers")"> <i class="fa fa-user"></i> <span>Drivers</span></a></li>
                    <li class="treeview"> <a href="@Url.Action("Index", "Distributors")"> <i class="fa fa-user"></i> <span>Distributors</span></a></li>
                    <li class="treeview"> <a href="@Url.Action("Index", "RatePlan")"> <i class="fa fa-money"></i> <span>Rate Plan</span></a></li>
                    <li class="treeview"> <a href="@Url.Action("Index", "Report")"> <i class="fa fa-line-chart"></i> <span>Report</span></a></li>

                    <!--
    <li class="treeview">
        <a href="#"><i class="fa fa-navicon"></i> <span>Business Constraints</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu">
            <li> <a href="~/vehcosts"> <i class="fa fa-money"></i> <span>Cost Management</span> </a> </li>
            <li><a href="#"> <i class="fa fa-toggle-off"></i> <span>Constraint Management</span> </a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"><i class="fa fa-navicon"></i> <span>PulzTranz Setup</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu">
            <li> <a href="~/CSMPVRPSetups"> <i class="fa fa-list"></i> <span>Settings</span> </a> </li>
            <li> <a href="~/FuelTypes"> <i class="fa fa-list"></i> <span>Fuel Types</span> </a> </li>
            <li> <a href="~/notifications/iotconfig"> <i class="fa fa-connectdevelop"></i> <span>iOT Configuration</span> </a> </li>
            <li><a href="#"> <i class="fa fa-toggle-off"></i> <span>Log Management</span> </a></li>
            <li><a href="#"> <i class="fa fa-eye"></i> <span>Broadcast Management</span> </a></li>
        </ul>
    </li>
        -->
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        @RenderBody()
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs" style="display:none;"> <b>Version</b> 2.3.5 </div>
        <strong>&copy; @DateTime.Now.Year <a href="http://total.com">EasyGas</a>.</strong> All Rights Reserved.
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location.pathname;
        var substr = url.split('/');
        var urlaspx = substr[substr.length - 1];
        $('.nav').find('.is-active').removeClass('is-active');
        $('.nav li a').each(function () {
            if ((urlaspx.length === 0 || urlaspx.toLowerCase().indexOf('ride') > -1) && $(this).text().toLowerCase() === 'rides') {
                $(this).parent().addClass('is-active');
                return;
            }

            if (this.href.indexOf(urlaspx) >= 0 && urlaspx.toLowerCase() !== 'login' && urlaspx.length > 0) {
                $(this).parent().addClass('is-active');
            }
        });
    });
</script>